Import libraries

In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [2]:
# Load dataset
datapath = "/Users/sabye/Downloads/wgRFECV-BIN/Data/"

cnv = pd.read_csv(datapath+"PAAD_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"PAAD_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"PAAD_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 185)
mrna: (20530, 184)
clinical: (196, 115)

In [3]:
cnv.head(2)

,Gene Symbol,TCGA-2J-AAB1-01,TCGA-2J-AAB4-01,TCGA-2J-AAB6-01,TCGA-2J-AAB8-01,TCGA-2J-AAB9-01,TCGA-2J-AABA-01,TCGA-2J-AABE-01,TCGA-2J-AABF-01,TCGA-2J-AABH-01,...,TCGA-XD-AAUG-01,TCGA-XD-AAUH-01,TCGA-XD-AAUI-01,TCGA-XD-AAUL-01,TCGA-XN-A8T3-01,TCGA-XN-A8T5-01,TCGA-YB-A89D-01,TCGA-YH-A8SY-01,TCGA-YY-A8LH-01,TCGA-Z5-AAPL-01
0,ACAP3,0.007,0.051,0.469,-0.079,-0.038,-0.351,0.0,0.16,-0.484,...,-0.037,-0.076,-0.025,0.002,0.033,-0.006,-0.004,-0.073,-0.325,-0.007
1,ACTRT2,0.007,0.051,0.469,-0.079,-0.038,-0.351,0.0,0.16,-0.484,...,-0.037,-0.076,-0.025,0.002,0.033,-0.006,-0.004,-0.073,-0.325,-0.007

In [4]:
mrna.head(2)

,sample,TCGA-2L-AAQL-01,TCGA-2J-AABI-01,TCGA-3A-A9J0-01,TCGA-3A-A9I7-01,TCGA-2J-AABO-01,TCGA-IB-7890-01,TCGA-3A-A9IN-01,TCGA-HZ-7926-01,TCGA-3A-A9IH-01,...,TCGA-IB-8127-01,TCGA-S4-A8RM-01,TCGA-F2-A7TX-01,TCGA-2L-AAQI-01,TCGA-2J-AABP-01,TCGA-RB-A7B8-01,TCGA-2L-AAQA-01,TCGA-FB-AAQ6-01,TCGA-IB-7644-01,TCGA-HV-A5A5-01
0,ARHGEF10L,10.2430,9.5734,10.3872,10.1431,9.8022,9.4448,11.0212,9.9304,10.4928,...,10.1282,9.7158,10.4882,10.4211,9.8537,10.0113,9.6876,10.3344,10.2509,10.9966
1,HIF3A,6.6983,6.4428,5.5034,4.6491,7.2137,5.7352,8.2457,5.1018,5.5330,...,7.1087,8.9044,4.8867,7.2581,4.0688,6.9339,6.5897,7.3360,4.7588,6.5898

In [5]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [6]:
cnv.head(2)

,TCGA-2J-AAB1-01,TCGA-2J-AAB4-01,TCGA-2J-AAB6-01,TCGA-2J-AAB8-01,TCGA-2J-AAB9-01,TCGA-2J-AABA-01,TCGA-2J-AABE-01,TCGA-2J-AABF-01,TCGA-2J-AABH-01,TCGA-2J-AABI-01,...,TCGA-XD-AAUG-01,TCGA-XD-AAUH-01,TCGA-XD-AAUI-01,TCGA-XD-AAUL-01,TCGA-XN-A8T3-01,TCGA-XN-A8T5-01,TCGA-YB-A89D-01,TCGA-YH-A8SY-01,TCGA-YY-A8LH-01,TCGA-Z5-AAPL-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,0.007,0.051,0.469,-0.079,-0.038,-0.351,0.0,0.16,-0.484,-0.659,...,-0.037,-0.076,-0.025,0.002,0.033,-0.006,-0.004,-0.073,-0.325,-0.007
ACTRT2,0.007,0.051,0.469,-0.079,-0.038,-0.351,0.0,0.16,-0.484,-0.659,...,-0.037,-0.076,-0.025,0.002,0.033,-0.006,-0.004,-0.073,-0.325,-0.007

In [7]:
mrna.head(2)

,TCGA-2L-AAQL-01,TCGA-2J-AABI-01,TCGA-3A-A9J0-01,TCGA-3A-A9I7-01,TCGA-2J-AABO-01,TCGA-IB-7890-01,TCGA-3A-A9IN-01,TCGA-HZ-7926-01,TCGA-3A-A9IH-01,TCGA-2J-AABH-01,...,TCGA-IB-8127-01,TCGA-S4-A8RM-01,TCGA-F2-A7TX-01,TCGA-2L-AAQI-01,TCGA-2J-AABP-01,TCGA-RB-A7B8-01,TCGA-2L-AAQA-01,TCGA-FB-AAQ6-01,TCGA-IB-7644-01,TCGA-HV-A5A5-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,10.2430,9.5734,10.3872,10.1431,9.8022,9.4448,11.0212,9.9304,10.4928,10.2869,...,10.1282,9.7158,10.4882,10.4211,9.8537,10.0113,9.6876,10.3344,10.2509,10.9966
HIF3A,6.6983,6.4428,5.5034,4.6491,7.2137,5.7352,8.2457,5.1018,5.5330,7.5433,...,7.1087,8.9044,4.8867,7.2581,4.0688,6.9339,6.5897,7.3360,4.7588,6.5898

Transpose the data

In [8]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (184, 24776)
mrna: (183, 20530)

In [9]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-2J-AAB1-01,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025
TCGA-2J-AAB4-01,0.051,0.051,0.051,0.051,0.051,0.051,0.051,0.051,0.051,0.051,...,0.318,0.318,0.318,0.318,0.318,0.318,0.318,0.318,0.318,0.318

In [10]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-2L-AAQL-01,10.2430,6.6983,0.0,11.9248,10.2773,10.1117,13.0042,5.9795,0.0,4.9121,...,0.7197,1.8429,6.0232,2.6264,8.7059,13.0378,8.2740,11.9118,8.5478,10.9906
TCGA-2J-AABI-01,9.5734,6.4428,0.0,11.0862,9.2096,9.8581,12.0516,3.9888,0.0,4.3893,...,0.7872,0.4466,4.7807,3.3832,10.8562,12.7767,6.9876,11.5041,5.4414,10.0317

Remove duplication

In [11]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (184, 24776)
mrna (183, 20530)

Identify shared patients across all datasets and exclude those not shared

In [12]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 177

            sample
0  TCGA-FB-AAPY-01
1  TCGA-HZ-8637-01
2  TCGA-IB-8127-01

In [13]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-2J-AAB1-01,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025,-0.025
1,TCGA-2J-AAB4-01,0.051,0.051,0.051,0.051,0.051,0.051,0.051,0.051,0.051,...,0.318,0.318,0.318,0.318,0.318,0.318,0.318,0.318,0.318,0.318

In [14]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-2J-AAB1-01,9.7910,8.7310,0.5732,11.9111,10.2312,10.2914,12.5644,5.0099,0.0000,...,0.0000,0.9823,5.0739,0.0,9.0034,12.3950,7.8502,11.9071,7.8982,10.9499
1,TCGA-2J-AAB4-01,10.5186,5.9351,0.0000,11.7311,10.7823,9.9883,12.8189,4.6911,0.5068,...,1.4241,2.2594,4.9088,0.0,8.6178,12.1204,7.6353,11.6672,7.5143,10.6963

Identify shared patients across all datasets and exclude those not shared

In [15]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (177, 24777)
Shape of samples RNA Sequence (RNASeq): (177, 20531)

Concatenate datasets with class labels

In [16]:
dataClass = clinical.histological_type.unique()
print("histological_type:", dataClass)
print(clinical.histological_type.value_counts())

histological_type: ['Pancreas-Adenocarcinoma-Other Subtype'
 'Pancreas-Adenocarcinoma Ductal Type'
 'Pancreas-Undifferentiated Carcinoma'
 'Pancreas-Colloid (mucinous non-cystic) Carcinoma' '[Discrepancy]']
histological_type
Pancreas-Adenocarcinoma Ductal Type                 163
Pancreas-Adenocarcinoma-Other Subtype                27
Pancreas-Colloid (mucinous non-cystic) Carcinoma      4
Pancreas-Undifferentiated Carcinoma                   1
[Discrepancy]                                         1
Name: count, dtype: int64

In [17]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [18]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (177, 24777)
RNA Sequence (RNASeq): (177, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [19]:
print(cnv_common_class.histological_type.value_counts())
print(mrna_common_class.histological_type.value_counts())

histological_type
Pancreas-Adenocarcinoma Ductal Type                 146
Pancreas-Adenocarcinoma-Other Subtype                25
Pancreas-Colloid (mucinous non-cystic) Carcinoma      4
Pancreas-Undifferentiated Carcinoma                   1
[Discrepancy]                                         1
Name: count, dtype: int64
histological_type
Pancreas-Adenocarcinoma Ductal Type                 146
Pancreas-Adenocarcinoma-Other Subtype                25
Pancreas-Colloid (mucinous non-cystic) Carcinoma      4
Pancreas-Undifferentiated Carcinoma                   1
[Discrepancy]                                         1
Name: count, dtype: int64

In [20]:
cnv_common_class.dropna(subset=['histological_type'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['histological_type'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (177, 24777)
mrna (177, 20531)

In [21]:
# List of subtypes to remove
subtypes_to_remove = [
    "[Discrepancy]", "Pancreas-Undifferentiated Carcinoma", "Pancreas-Colloid (mucinous non-cystic) Carcinoma"
]

# Filter them out
cnv_common_class = cnv_common_class[~cnv_common_class['histological_type'].isin(subtypes_to_remove)]
print("Copy Number Variation (CNV):", cnv_common_class.shape)

mrna_common_class = mrna_common_class[~mrna_common_class['histological_type'].isin(subtypes_to_remove)]
print("RNA Sequence (RNASeq):", mrna_common_class.shape)

Copy Number Variation (CNV): (171, 24777)
RNA Sequence (RNASeq): (171, 20531)

Remove features with missing values

In [22]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [23]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (171, 24777)
mrna (171, 20531)

In [24]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [25]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 487 zero-variance columns: ['RBMY1A3P', 'OR8J1', 'SNORD115-17', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'PISRT1', 'SNORD115-4', 'SNORD104', 'TECRL', 'KRTAP2-4', 'SNORD115-9', 'OR7G1', 'PRAMEF9', 'SNORD38A', 'OR8U1', 'KRTAP19-2', 'KRTAP19-7', 'KRTAP19-4', 'SNORD114-3', 'RAB9BP1', 'HBII-52-27', 'SNORD11', 'SNORD12', 'SNORD21', 'SNORD20', 'SNORD23', 'SNORD25', 'SNORD127', 'SNORD124', 'TTTY17A', 'SNORD115-5', 'SNORD80', 'TSPY1', 'SNORD56B', 'SNORD78', 'PRAMEF17', 'SNORD113-7', 'HSFX1', 'SNORD96A', 'ADAM3A', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'SNORD4B', 'SNORD4A', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'RBMY1B', 'RBMY1F', 'GRXCR1', 'DEFB121', 'OR6V1', 'SNORD115-8', 'SNORD67', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'SNORD113-4', 'SNORD116-26', 'OR5H15', 'OR5H14', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'OR5B17', 'PRR20A', 'PRR20C', 'PRR20D', 'OR5H1', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'HNRNPCL1', 'SNORD81', 'PLA2G2E', 'KRTAP21-1', 'OR8J3', 'MRGPRG', 'NPVF', 'OR7G3', 'OR9Q2', 'LOC643955', 'PRAMEF3', '?|404770', 'OR5J2', 'SNORD114-20', 'LOC728410', 'SNAR-A3', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'OR4L1', 'SNORD114-29', 'TEX28', 'OR8H1', 'OR8H2', 'OR8H3', 'TRIM64', 'OR6C75', 'OR5L1', 'OR7A10', 'OR7A17', 'NCRNA00157', 'DEFB134', 'DEFB135', 'DEFB130', 'SNORD29', 'KRTAP10-7', 'S100A7L2', 'OR7C2', 'LOC653545', 'OR5K4', 'PPIAL4B', 'OR6C3', 'KRTAP15-1', 'GSC2', 'SNORD16', 'KRTAP19-5', 'SNORD36A', 'LEUTX', 'SNORD91B', 'LOC255025', 'RBMY1J', 'SNORD87', 'SNORD86', 'OR4C11', 'OR4C13', 'OR4C12', 'DEFB116', 'DEFB114', 'DEFB115', 'DEFB112', 'DEFB113', 'OR8D2', 'RBMY1E', 'SNORD91A', 'LOC339568', 'SNORD88B', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'KRTAP13-1', 'C9orf27', 'SNORD114-6', 'SNORD114-5', 'OR8B4', 'FAM27L', 'OR13C8', 'FAM41AY1', 'OR6C6', 'SNORD12C', 'SNORD123', 'SNORD126', 'SNORD125', 'OR1S1', 'OR1S2', 'DEFB108B', 'OR4D9', 'OR4D2', 'OR5T3', 'OR5T1', 'KRTAP23-1', 'SNORD48', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'SNORD27', 'SNORD105', 'DEFB106A', 'RBMY2EP', 'SNORD35A', 'SNORD35B', 'OR5AR1', 'RBMY3AP', 'TMEM225', 'OR6K2', 'OR4A15', 'LOC100169752', 'TTTY22', 'SNORD24', 'POTEA', 'SNORD28', 'OR52E4', 'OR52E8', 'TRIM77', 'KRTAP25-1', 'DEFB104A', 'OR5F1', 'OR4S2', 'OR5AC2', 'SNORD49A', 'C11orf40', 'SNORD102', 'SNORD115-14', 'LCE4A', 'KRTAP12-3', 'OR5M9', 'OR5M3', 'BSPH1', 'SNORD115-16', 'POM121L12', 'TAAR9', 'SNORD30', 'SNORD31', 'SNORD115-10', 'SNORD18B', 'OR51L1', '?|728045', 'OR4K15', 'OR4A5', 'SNORD26', 'SNORD114-7', 'SNORD45C', 'SNORD111B', 'SNORD18A', 'TTTY5', 'KRTAP9-9', 'TTTY20', 'CT47A7', 'CT47A6', 'CT47A2', 'CT47A1', 'CT47A9', 'SNORD109B', 'OR10K2', 'SNORD45B', 'TTTY23', 'SNORD45A', 'OR5D13', 'KRTAP6-2', 'OR5D14', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'P2RX6P', 'MBD3L2', 'SNORD1A', 'SNORD1B', 'SNORD19', 'SNORD115-37', 'OR4C16', 'OR52M1', 'OR4K5', 'OR4K1', 'SNORD44', 'SNORD34', 'SNORD121B', 'SNORD121A', 'OR10AG1', 'SNAR-F', 'SNAR-E', 'SNAR-H', 'SUN5', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD11B', 'SNORD49B', 'OR4C15', 'SNORD116-19', 'SNORA35', 'SNORD116-11', 'DEFB110', 'GLYCAM1', 'SNORD59B', 'SNORD59A', 'SNORD116-27', 'OR5W2', 'SNORD114-21', 'TMEM30C', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'OR9K2', 'OR8K1', 'OR8K5', 'OR2T29', 'OR2T27', 'SPAG11A', 'CDY1', 'SSX7', 'KRTAP9-2', 'RNU5E', 'SNORD88C', 'RNY5', 'RNY4', 'SNORD114-16', 'OR5I1', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'OR10X1', 'SNORD116-18', 'KRTAP20-3', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'OR8I2', 'CSPG4PY2', 'SNORD116-12', 'NMS', 'SNORD73A', 'OR5K3', 'SNORD115-32', 'SNORD115-39', 'SNAR-D', 'SNORA30', 'OR4C3', 'OR10Z1', 'DEFB129', 'DEFB127', 'DEFB123', 'DEFB122', 'OR8G2', '?|442388', 'OR4K17', 'OR4K13', 'OR52E2', 'MS4A13', 'FTLP10', 'SNORD116-10', 'SNORD116-13', 'VENTXP1', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'OR5M8', 'XKRY', 'SNORD95', 'SNORD90', 'SNORD114-18', 'SNORD92', 'TSSK2', 'SNORA70C', 'SNORD114-15', 'KRTAP10-8', 'KRTAP10-5', 'SNORD19B', 'LOC729121', 'MRGPRX1', 'SNORD70', 'SNORD76', '?|317712', 'SNORD77', 'HBII-52-24', 'SNAR-A13', 'SNORD60', 'TXNDC8', 'TTTY3B', 'SCARNA14', 'KRTAP13-4', 'KRTAP13-3', 'SNORA11C', 'OR52A1', 'OR52A5', 'OR52A4', 'SNORD105B', 'PRM3', 'TTTY17B', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'SNAR-G1', 'SNORD33', 'VTRNA1-2', 'OR5A2', 'SNAR-G2', 'SNORD54', 'FAM24A', 'OR51G1', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'LCN9', 'OR4X1', 'OR8B8', 'KRTAP27-1', 'PRAMEF13', 'DUX4', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'SNAR-A2', 'SNAR-A4', 'OR2T6', 'TTTY12', 'OR2T1', 'SNORD8', 'OR5AS1', 'SNORD32A', 'SNORD43', 'FKSG73', 'SNORD114-12', 'TSPY4', 'SNORD71', 'PRR20B', 'SNAR-C2', 'DEFB107A', 'OR1D2', 'VN1R4', 'SNORD88A', '?|280660', 'SPANXN2', 'SNORD36B', 'SNAR-I', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'SNORD62A', 'DEFB105A', 'LCE3B', 'LCE3C', 'SNORD116-5', 'SNORD103A', 'OR56A1', 'OR4F15', 'OR4C45', 'OR8B12', 'SNORD42B', 'OR6C74', 'IFNA16', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'OR14C36', 'TTTY13', 'TTTY19', 'LOC283914', 'SNORD115-33', 'OR10H4', 'SNORD115-30', 'SNORD115-31', 'OR2W1', 'KRTAP9-4', 'SNORD114-2', 'KRTAP20-2', 'SNORD115-38', 'SNORD18C', 'SNORD12B', 'LOC100287704', 'OR4C46', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A11', 'CT47A10', 'OR4P4', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'OR51V1', 'SNORD32B']
DataFrame 2 updated shape: (171, 20044)

----Updated Shapes of DataFrames----
DataFrame 1: (171, 24777)
DataFrame 2: (171, 20044)

Eliminate redundant information

In [26]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.histological_type.value_counts())

----Omics dataset----
cnv: (171, 24777)
mrna (171, 20044)
----Class distribution----
histological_type
Pancreas-Adenocarcinoma Ductal Type      146
Pancreas-Adenocarcinoma-Other Subtype     25
Name: count, dtype: int64

Data standardization

In [27]:
datapath_out = "/Users/sabye/Downloads/wgRFECV-BIN/Result/"

In [28]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['hys'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_PAAD_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_PAAD_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_PAAD_mrna.csv