Import libraries

In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [2]:
# Load dataset
datapath = "/Users/sabye/Downloads/wgRFECV-BIN/Data/"

cnv = pd.read_csv(datapath+"ESCA_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"ESCA_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"ESCA_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 185)
mrna: (20530, 197)
clinical: (204, 121)

In [3]:
cnv.head(2)

,Gene Symbol,TCGA-2H-A9GF-01,TCGA-2H-A9GH-01,TCGA-2H-A9GI-01,TCGA-2H-A9GJ-01,TCGA-2H-A9GK-01,TCGA-2H-A9GL-01,TCGA-2H-A9GM-01,TCGA-2H-A9GN-01,TCGA-2H-A9GO-01,...,TCGA-VR-AA7I-01,TCGA-X8-AAAR-01,TCGA-XP-A8T6-01,TCGA-XP-A8T7-01,TCGA-XP-A8T8-01,TCGA-Z6-A8JD-01,TCGA-Z6-A8JE-01,TCGA-Z6-A9VB-01,TCGA-Z6-AAPN-01,TCGA-ZR-A9CJ-01
0,ACAP3,-0.061,-0.274,-0.347,-0.171,-0.117,0.094,-0.154,0.003,-0.208,...,-0.023,-0.011,0.142,0.008,-0.442,-0.009,0.233,-0.185,0.042,-0.023
1,ACTRT2,-0.061,-0.274,-0.347,-0.171,-0.117,0.094,-0.154,0.003,-0.208,...,-0.023,-0.011,0.142,0.008,-0.442,-0.009,0.233,-0.185,0.042,-0.023

In [4]:
mrna.head(2)

,sample,TCGA-L5-A4OF-01,TCGA-LN-A49R-01,TCGA-Z6-A9VB-01,TCGA-L5-A8NF-01,TCGA-2H-A9GG-01,TCGA-IG-A3QL-01,TCGA-VR-AA7B-01,TCGA-2H-A9GN-01,TCGA-L7-A6VZ-01,...,TCGA-L5-A4ON-01,TCGA-LN-A4A1-01,TCGA-R6-A8WC-01,TCGA-L5-A4OR-11,TCGA-L5-A88Z-01,TCGA-JY-A6FG-01,TCGA-L5-A4OM-01,TCGA-Z6-A8JE-01,TCGA-L5-A4OQ-01,TCGA-M9-A5M8-01
0,ARHGEF10L,11.2101,8.9631,9.5791,10.6071,11.9393,7.2903,10.0683,11.9908,9.8585,...,10.3383,9.8903,11.2617,10.0687,8.6129,10.6064,9.5179,9.8121,11.4524,10.9043
1,HIF3A,12.3540,3.9057,2.8786,6.8787,7.1988,10.0974,7.5426,5.0281,6.5386,...,6.3486,2.7957,7.0246,9.9157,2.6647,1.6129,6.8140,10.8828,10.0840,2.9394

In [5]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [6]:
cnv.head(2)

,TCGA-2H-A9GF-01,TCGA-2H-A9GH-01,TCGA-2H-A9GI-01,TCGA-2H-A9GJ-01,TCGA-2H-A9GK-01,TCGA-2H-A9GL-01,TCGA-2H-A9GM-01,TCGA-2H-A9GN-01,TCGA-2H-A9GO-01,TCGA-2H-A9GQ-01,...,TCGA-VR-AA7I-01,TCGA-X8-AAAR-01,TCGA-XP-A8T6-01,TCGA-XP-A8T7-01,TCGA-XP-A8T8-01,TCGA-Z6-A8JD-01,TCGA-Z6-A8JE-01,TCGA-Z6-A9VB-01,TCGA-Z6-AAPN-01,TCGA-ZR-A9CJ-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,-0.061,-0.274,-0.347,-0.171,-0.117,0.094,-0.154,0.003,-0.208,-0.018,...,-0.023,-0.011,0.142,0.008,-0.442,-0.009,0.233,-0.185,0.042,-0.023
ACTRT2,-0.061,-0.274,-0.347,-0.171,-0.117,0.094,-0.154,0.003,-0.208,-0.018,...,-0.023,-0.011,0.142,0.008,-0.442,-0.009,0.233,-0.185,0.042,-0.023

In [7]:
mrna.head(2)

,TCGA-L5-A4OF-01,TCGA-LN-A49R-01,TCGA-Z6-A9VB-01,TCGA-L5-A8NF-01,TCGA-2H-A9GG-01,TCGA-IG-A3QL-01,TCGA-VR-AA7B-01,TCGA-2H-A9GN-01,TCGA-L7-A6VZ-01,TCGA-L5-A4OF-11,...,TCGA-L5-A4ON-01,TCGA-LN-A4A1-01,TCGA-R6-A8WC-01,TCGA-L5-A4OR-11,TCGA-L5-A88Z-01,TCGA-JY-A6FG-01,TCGA-L5-A4OM-01,TCGA-Z6-A8JE-01,TCGA-L5-A4OQ-01,TCGA-M9-A5M8-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,11.2101,8.9631,9.5791,10.6071,11.9393,7.2903,10.0683,11.9908,9.8585,9.9721,...,10.3383,9.8903,11.2617,10.0687,8.6129,10.6064,9.5179,9.8121,11.4524,10.9043
HIF3A,12.3540,3.9057,2.8786,6.8787,7.1988,10.0974,7.5426,5.0281,6.5386,9.1712,...,6.3486,2.7957,7.0246,9.9157,2.6647,1.6129,6.8140,10.8828,10.0840,2.9394

Transpose the data

In [8]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (184, 24776)
mrna: (196, 20530)

In [9]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-2H-A9GF-01,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,...,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220
TCGA-2H-A9GH-01,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,...,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051

In [10]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-L5-A4OF-01,11.2101,12.3540,8.5520,11.7251,10.2403,9.7218,12.3287,4.4734,1.9906,6.6656,...,5.9325,0.9937,3.5492,3.3392,8.9417,11.2014,7.8064,10.0090,8.3300,9.6288
TCGA-LN-A49R-01,8.9631,3.9057,0.8662,11.6148,11.1943,10.6686,12.9896,4.4850,1.4036,5.3494,...,2.1908,0.8662,5.1409,4.7133,9.3867,12.4722,6.9270,10.0227,5.1069,10.3200

Remove duplication

In [11]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (184, 24776)
mrna (196, 20530)

Identify shared patients across all datasets and exclude those not shared

In [12]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 183

            sample
0  TCGA-Z6-A8JD-01
1  TCGA-V5-AASW-01
2  TCGA-LN-A4A2-01

In [13]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-2H-A9GF-01,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,-0.061,...,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220,-0.220
1,TCGA-2H-A9GH-01,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,-0.274,...,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051,-0.051

In [14]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-2H-A9GF-01,10.7696,8.1415,0.0,12.0052,10.6921,10.1633,11.2038,3.0309,0.000,...,1.3952,1.2043,3.2445,2.2965,8.7979,10.8803,7.5707,10.3043,5.7846,8.6916
1,TCGA-2H-A9GG-01,11.9393,7.1988,0.0,11.6344,10.5779,10.0938,12.7264,4.8832,1.175,...,0.0000,0.0000,4.2502,4.8204,8.2625,10.8429,7.0332,10.4248,7.8660,9.0706

Identify shared patients across all datasets and exclude those not shared

In [15]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (183, 24777)
Shape of samples RNA Sequence (RNASeq): (183, 20531)

Concatenate datasets with class labels

In [16]:
dataClass = clinical.histological_type.unique()
print("histological_type:", dataClass)
print(clinical.histological_type.value_counts())

histological_type: ['Esophagus Adenocarcinoma, NOS' 'Esophagus Squamous Cell Carcinoma']
histological_type
Esophagus Adenocarcinoma, NOS        104
Esophagus Squamous Cell Carcinoma    100
Name: count, dtype: int64

In [17]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [18]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (183, 24777)
RNA Sequence (RNASeq): (183, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [19]:
print(cnv_common_class.histological_type.value_counts())
print(mrna_common_class.histological_type.value_counts())

histological_type
Esophagus Squamous Cell Carcinoma    95
Esophagus Adenocarcinoma, NOS        88
Name: count, dtype: int64
histological_type
Esophagus Squamous Cell Carcinoma    95
Esophagus Adenocarcinoma, NOS        88
Name: count, dtype: int64

In [20]:
cnv_common_class.dropna(subset=['histological_type'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['histological_type'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (183, 24777)
mrna (183, 20531)

Remove features with missing values

In [21]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [22]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (183, 24777)
mrna (183, 20531)

In [23]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [24]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 253 zero-variance columns: ['SNORD115-17', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'SNORD115-4', 'SNORD104', 'SNORD115-9', 'SNORD38A', 'SNORD114-3', 'HBII-52-27', 'SNORD11', 'SNORD12', 'SNORD21', 'SNORD20', 'SNORD25', 'SNORD127', 'SNORD124', 'TTTY17A', 'SNORD115-5', 'SNORD80', 'SNORD56B', 'SNORD78', 'SNORD113-7', 'HSFX1', 'SNORD96A', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'SNORD4B', 'SNORD4A', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'SNORD115-8', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'SNORD113-4', 'SNORD116-26', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'PRR20C', 'PRR20D', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'SNORD81', 'GAGE12F', 'SNORD114-20', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'SNORD114-29', 'TEX28', 'DEFB135', 'SNORD29', 'SNORD16', 'SNORD36A', 'SNORD91B', 'SNORD87', 'SNORD86', 'DEFB114', 'RBMY1E', 'SNORD91A', 'SNORD88B', 'SNORD50B', 'SNORD65', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'SNORD114-6', 'SNORD114-5', 'SNORD12C', 'SNORD123', 'SNORD126', 'SNORD125', 'SNORD48', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'SNORD27', 'SNORD105', 'SNORD35A', 'SNORD35B', 'SNORD24', 'SNAR-B2', 'SNORD28', 'SNORD49A', 'SNORD102', 'SNORD115-14', 'LCE4A', 'SNORD115-16', 'SNORD30', 'SNORD31', 'SNORD115-10', 'SNORD18B', 'SNORD26', 'SNORD114-7', 'SNORD45C', 'SNORD111B', 'SNORD18A', 'TTTY20', 'SNORD109B', 'SNORD45B', 'SNORD45A', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'SNORD1A', 'SNORD1B', 'SNORD19', 'SNORD115-37', 'SNORD44', 'SNORD34', 'OR10G9', 'SNORD121B', 'SNORD121A', 'SNAR-E', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD49B', 'SNORD116-19', 'SNORA35', 'SNORD116-11', '?|136542', 'SNORD59B', 'SNORD59A', 'SNORD116-27', 'SNORD114-21', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'OR2T29', 'RNU5E', 'SNORD88C', 'RNY5', 'RNY4', 'SNORD114-16', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'SNORD116-18', 'SNORD98', 'SNORD99', 'SNORD93', 'SNORD116-12', 'C13orf28', 'SNORD73A', 'SNORD115-32', 'SNORD115-39', 'SNAR-D', 'SNORD116-10', 'SNORD116-13', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'XKRY', 'SNORD95', 'SNORD90', 'SNORD114-18', 'SNORD92', 'TSSK2', 'SNORA70C', 'SNORD114-15', 'SNORD19B', 'SNORD70', 'SNORD76', 'SNORD77', 'HBII-52-24', 'SNAR-A13', 'SNORD60', 'TTTY3B', 'SNORD105B', 'TTTY17B', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'SNORD33', 'VTRNA1-2', 'SNORD54', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'LCN9', 'TTTY21', 'DUX4', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'SNAR-A4', 'SNORD32A', 'SNORD43', 'SNORD114-12', 'SNORD71', 'PRR20B', 'SNAR-C3', 'SNAR-C2', 'SNORD88A', 'SNORD36B', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'SNORD62A', 'SNORD116-5', 'SNORD42B', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'SNORD115-33', 'SNORD115-30', 'SNORD115-31', 'SNORD114-2', 'SNORD115-38', 'SNORD18C', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A11', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'SNORD32B']
DataFrame 2 updated shape: (183, 20278)

----Updated Shapes of DataFrames----
DataFrame 1: (183, 24777)
DataFrame 2: (183, 20278)

Eliminate redundant information

In [25]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.histological_type.value_counts())

----Omics dataset----
cnv: (183, 24777)
mrna (183, 20278)
----Class distribution----
histological_type
Esophagus Squamous Cell Carcinoma    95
Esophagus Adenocarcinoma, NOS        88
Name: count, dtype: int64

Data standardization

In [26]:
datapath_out = "/Users/sabye/Downloads/wgRFECV-BIN/Result/"

In [27]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['hys'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_ESCA_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_ESCA_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_ESCA_mrna.csv