Import libraries

In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [2]:
# Load dataset
datapath = "/Users/sabye/Downloads/Codes/wgRFE-BIN/Data/"

cnv = pd.read_csv(datapath+"KIRC_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"KIRC_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"KIRC_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 529)
mrna: (20530, 607)
clinical: (945, 112)

In [3]:
cnv.head(2)

,Gene Symbol,TCGA-3Z-A93Z-01,TCGA-6D-AA2E-01,TCGA-A3-3306-01,TCGA-A3-3307-01,TCGA-A3-3308-01,TCGA-A3-3311-01,TCGA-A3-3313-01,TCGA-A3-3316-01,TCGA-A3-3317-01,...,TCGA-G6-A5PC-01,TCGA-G6-A8L6-01,TCGA-G6-A8L7-01,TCGA-G6-A8L8-01,TCGA-GK-A6C7-01,TCGA-MM-A563-01,TCGA-MM-A564-01,TCGA-MM-A84U-01,TCGA-MW-A4EC-01,TCGA-T7-A92I-01
0,ACAP3,-0.001,0.002,0.009,0.015,0.005,0.008,-0.696,-0.14,0.034,...,0.002,0.001,-0.001,-0.843,-0.49,-0.034,0.201,0.026,-0.002,-0.638
1,ACTRT2,-0.001,0.002,0.009,0.015,0.005,0.008,-0.696,-0.14,0.034,...,0.002,0.001,-0.001,-0.843,-0.49,-0.034,0.201,0.026,-0.002,-0.638

In [4]:
mrna.head(2)

,sample,TCGA-BP-4162-01,TCGA-CJ-5677-11,TCGA-DV-5566-01,TCGA-BP-5191-01,TCGA-BP-5200-01,TCGA-BP-4347-01,TCGA-BP-4770-01,TCGA-B0-5696-11,TCGA-BP-4762-01,...,TCGA-B0-5104-01,TCGA-A3-3313-01,TCGA-B2-5633-01,TCGA-CJ-4872-01,TCGA-CJ-5684-01,TCGA-CJ-4886-01,TCGA-BP-5009-01,TCGA-BP-4969-01,TCGA-CZ-5461-01,TCGA-CW-5587-01
0,ARHGEF10L,10.5030,10.8969,10.7612,10.2063,10.0616,10.0193,8.4364,11.1427,9.9150,...,10.5586,9.5556,10.2652,9.4981,10.2751,9.9525,10.1273,10.8817,10.1949,10.3294
1,HIF3A,5.5283,6.4943,5.7842,5.0063,5.3326,7.6102,6.0422,5.9789,3.7802,...,6.2061,4.8253,5.1680,8.6195,6.2080,6.3116,6.7446,7.8293,6.1788,6.2293

In [5]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [6]:
cnv.head(2)

,TCGA-3Z-A93Z-01,TCGA-6D-AA2E-01,TCGA-A3-3306-01,TCGA-A3-3307-01,TCGA-A3-3308-01,TCGA-A3-3311-01,TCGA-A3-3313-01,TCGA-A3-3316-01,TCGA-A3-3317-01,TCGA-A3-3319-01,...,TCGA-G6-A5PC-01,TCGA-G6-A8L6-01,TCGA-G6-A8L7-01,TCGA-G6-A8L8-01,TCGA-GK-A6C7-01,TCGA-MM-A563-01,TCGA-MM-A564-01,TCGA-MM-A84U-01,TCGA-MW-A4EC-01,TCGA-T7-A92I-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,-0.001,0.002,0.009,0.015,0.005,0.008,-0.696,-0.14,0.034,0.023,...,0.002,0.001,-0.001,-0.843,-0.49,-0.034,0.201,0.026,-0.002,-0.638
ACTRT2,-0.001,0.002,0.009,0.015,0.005,0.008,-0.696,-0.14,0.034,0.023,...,0.002,0.001,-0.001,-0.843,-0.49,-0.034,0.201,0.026,-0.002,-0.638

In [7]:
mrna.head(2)

,TCGA-BP-4162-01,TCGA-CJ-5677-11,TCGA-DV-5566-01,TCGA-BP-5191-01,TCGA-BP-5200-01,TCGA-BP-4347-01,TCGA-BP-4770-01,TCGA-B0-5696-11,TCGA-BP-4762-01,TCGA-BP-4158-01,...,TCGA-B0-5104-01,TCGA-A3-3313-01,TCGA-B2-5633-01,TCGA-CJ-4872-01,TCGA-CJ-5684-01,TCGA-CJ-4886-01,TCGA-BP-5009-01,TCGA-BP-4969-01,TCGA-CZ-5461-01,TCGA-CW-5587-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,10.5030,10.8969,10.7612,10.2063,10.0616,10.0193,8.4364,11.1427,9.9150,10.7621,...,10.5586,9.5556,10.2652,9.4981,10.2751,9.9525,10.1273,10.8817,10.1949,10.3294
HIF3A,5.5283,6.4943,5.7842,5.0063,5.3326,7.6102,6.0422,5.9789,3.7802,7.2039,...,6.2061,4.8253,5.1680,8.6195,6.2080,6.3116,6.7446,7.8293,6.1788,6.2293

Transpose the data

In [8]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (528, 24776)
mrna: (606, 20530)

In [9]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-3Z-A93Z-01,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,...,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032
TCGA-6D-AA2E-01,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,...,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003

In [10]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-BP-4162-01,10.5030,5.5283,3.8036,11.4379,11.4180,11.1265,12.2961,4.6773,0.0,3.9775,...,0.5331,3.1774,5.4270,4.7023,9.8871,12.7871,9.8322,11.6227,7.0732,9.6363
TCGA-CJ-5677-11,10.8969,6.4943,0.0000,12.2130,11.8248,10.7779,12.5998,3.3359,0.0,5.5160,...,1.0647,5.5723,4.3933,0.4477,9.5617,12.0428,8.5567,11.6819,7.9269,9.6189

Remove duplication

In [11]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (528, 24776)
mrna (606, 20530)

Identify shared patients across all datasets and exclude those not shared

In [12]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 525

            sample
0  TCGA-BP-4807-01
1  TCGA-AK-3431-01
2  TCGA-BP-5191-01

In [13]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-3Z-A93Z-01,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,...,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032
1,TCGA-6D-AA2E-01,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,...,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003

In [14]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-3Z-A93Z-01,10.2510,6.3672,0.0000,11.5988,11.1267,10.6054,12.0332,6.1801,0.0000,...,0.000,4.7398,6.0220,3.9475,9.6599,13.3097,10.9736,11.6569,5.489,10.4792
1,TCGA-6D-AA2E-01,10.9708,6.5183,0.6226,11.8937,11.0113,11.1812,12.8435,4.5647,0.6226,...,1.389,6.7311,4.0575,4.2334,9.3685,11.9694,8.0581,12.1499,7.668,10.1044

Identify shared patients across all datasets and exclude those not shared

In [15]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (525, 24777)
Shape of samples RNA Sequence (RNASeq): (525, 20531)

Concatenate datasets with class labels

In [16]:
dataClass = clinical.neoplasm_histologic_grade.unique()
print("neoplasm_histologic_grade:", dataClass)
print(clinical.neoplasm_histologic_grade.value_counts())

neoplasm_histologic_grade: ['G2' 'G3' 'G1' 'G4' 'GX' nan]
neoplasm_histologic_grade
G2    399
G3    369
G4    149
G1     19
GX      6
Name: count, dtype: int64

In [17]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [18]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['neoplasm_histologic_grade'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['neoplasm_histologic_grade'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (525, 24777)
RNA Sequence (RNASeq): (525, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [19]:
print(cnv_common_class.neoplasm_histologic_grade.value_counts())
print(mrna_common_class.neoplasm_histologic_grade.value_counts())

neoplasm_histologic_grade
G2    225
G3    202
G4     76
G1     14
GX      5
Name: count, dtype: int64
neoplasm_histologic_grade
G2    225
G3    202
G4     76
G1     14
GX      5
Name: count, dtype: int64

In [20]:
cnv_common_class.dropna(subset=['neoplasm_histologic_grade'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['neoplasm_histologic_grade'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (522, 24777)
mrna (522, 20531)

In [21]:
# List of subtypes to remove
subtypes_to_remove = [
    "G1",
    "GX"
]

# Filter them out
cnv_common_class = cnv_common_class[~cnv_common_class['neoplasm_histologic_grade'].isin(subtypes_to_remove)]
print("Copy Number Variation (CNV):", cnv_common_class.shape)

mrna_common_class = mrna_common_class[~mrna_common_class['neoplasm_histologic_grade'].isin(subtypes_to_remove)]
print("RNA Sequence (RNASeq):", mrna_common_class.shape)

Copy Number Variation (CNV): (503, 24777)
RNA Sequence (RNASeq): (503, 20531)

Remove features with missing values

In [22]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [23]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (503, 24777)
mrna (503, 20531)

In [24]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [25]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 292 zero-variance columns: ['SNORD115-17', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'SNORD115-4', 'SNORD104', 'SNORD115-9', 'SNORD38A', 'KRTAP19-2', 'SNORD114-3', 'HBII-52-27', 'SNORD11', 'SNORD12', 'SNORD21', 'SNORD20', 'SNORD23', 'SNORD25', 'SNORD127', 'DAZ4', 'SNORD124', 'TTTY17A', 'SNORD115-5', 'SNORD80', 'SNORD56B', 'SNORD78', 'SNORD113-7', 'HSFX1', 'SNORD96A', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'SNORD4B', 'SNORD4A', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'SNORD115-8', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'SNORD113-4', 'SNORD116-26', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'PRR20A', 'PRR20C', 'PRR20D', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'SNORD81', 'PLA2G2E', 'KRTAP21-1', 'MRGPRG', 'SNORD114-20', 'LOC728410', 'SNAR-A3', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'SNORD114-29', 'TEX28', 'SNORD29', 'S100A7L2', 'LOC653545', 'GSC2', 'SNORD16', 'SNORD36A', 'SNORD91B', 'SNORD87', 'SNORD86', 'DEFB114', 'DEFB115', 'DEFB113', 'SNORD91A', 'SNORD88B', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'SNORD114-6', 'SNORD114-5', 'SNORD12C', 'SNORD123', 'SNORD126', 'SNORD125', 'SNORD48', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'SNORD27', 'SNORD105', 'SNORD35A', 'SNORD35B', 'TTTY22', 'SNORD24', 'SNORD28', 'SNORA69', 'SNORD49A', 'C11orf40', 'SNORD102', 'SNORD115-14', 'SNORD115-16', 'SNORD30', 'SNORD31', 'SNORD115-10', 'SNORD18B', 'C11orf64', '?|728045', 'SNORD26', 'SNORD114-7', 'SNORD45C', 'SNORD111B', 'SNORD18A', 'SNORA36C', 'CT47A7', 'CT47A9', 'SNORD109B', 'SNORD45B', 'SNORD45A', 'KRTAP6-1', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'P2RX6P', 'SNORD1A', 'SNORD1B', 'SNORD19', 'LACRT', 'SNORD115-37', 'SNORD44', 'SNORD34', 'SNORD121B', 'SNORD121A', 'SNAR-H', 'SUN5', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD11B', 'SNORD49B', 'SNORD116-19', 'SNORD116-11', '?|136542', 'DEFB110', 'SNORD59B', 'SNORD59A', 'SNORD116-27', 'SNORD114-21', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'RNU5E', 'SNORD88C', 'RNY5', 'RNY4', 'SNORD114-16', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'SNORD116-18', 'KRTAP20-3', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'SNORD116-12', 'NMS', 'SNORD73A', 'SPINK14', 'SNORD115-32', 'SNORD115-39', 'SNAR-D', 'SNORA30', 'MS4A13', 'SNORD116-10', 'SNORD116-13', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'XKRY', 'SNORD95', 'SNORD90', 'SNORD114-18', 'SNORD92', 'TSSK2', 'SNORD114-15', 'SNORD19B', 'SNORD70', 'SNORD76', '?|317712', 'SNORD77', 'HBII-52-24', 'SNAR-A13', 'SNORD60', 'TTTY3B', 'SNORA11C', 'SNORD105B', 'TTTY17B', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'SNORD33', 'VTRNA1-2', 'SNAR-G2', 'SNORD54', 'TTTY18', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'TTTY21', 'DUX4', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'SNAR-A4', 'TTTY12', 'SNORD8', 'SNORD32A', 'SNORD43', 'SNORD114-12', 'TSPY4', 'SNORD71', 'PRR20B', 'SNAR-C2', 'SNORD88A', 'SNORD36B', 'SNAR-I', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'SNORD62A', 'DEFB105A', 'LCE3B', 'SNORD116-5', 'SNORD103A', 'SNORD42B', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'TTTY11', 'TTTY13', 'TTTY19', 'SNORD115-33', 'SNORD115-30', 'SNORD115-31', 'SNORD114-2', 'KRTAP20-2', 'SNORD115-38', 'SNORD18C', 'SNORD12B', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A11', 'CT47A10', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'SNORD32B']
DataFrame 2 updated shape: (503, 20239)

----Updated Shapes of DataFrames----
DataFrame 1: (503, 24777)
DataFrame 2: (503, 20239)

Eliminate redundant information

In [26]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.neoplasm_histologic_grade.value_counts())

----Omics dataset----
cnv: (503, 24777)
mrna (503, 20239)
----Class distribution----
neoplasm_histologic_grade
G2    225
G3    202
G4     76
Name: count, dtype: int64

Data standardization

In [27]:
datapath_out = "/Users/sabye/Downloads/Codes/wgRFE-BIN/Result/"

In [28]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['neoplasm_histologic_grade'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_KIRC_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/Codes/wgRFE-BIN/Result/Preprocessed_KIRC_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/Codes/wgRFE-BIN/Result/Preprocessed_KIRC_mrna.csv

In [29]:
cnv_common_class.head(3)

,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7,neoplasm_histologic_grade
sample,,,,,,,,,,,,,,,,,,,,,
TCGA-3Z-A93Z-01,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,...,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032,0.032,G2
TCGA-6D-AA2E-01,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,0.002,...,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,G2
TCGA-A3-3306-01,0.009,0.009,0.009,0.009,0.009,0.009,0.009,0.009,0.009,0.009,...,-0.230,-0.230,-0.230,-0.230,-0.230,-0.230,-0.230,-0.230,-0.230,G3

In [30]:
mrna_common_class.head(3)

,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS,neoplasm_histologic_grade
sample,,,,,,,,,,,,,,,,,,,,,
TCGA-3Z-A93Z-01,10.2510,6.3672,0.0000,11.5988,11.1267,10.6054,12.0332,6.1801,0.0000,6.0080,...,4.7398,6.0220,3.9475,9.6599,13.3097,10.9736,11.6569,5.4890,10.4792,G2
TCGA-6D-AA2E-01,10.9708,6.5183,0.6226,11.8937,11.0113,11.1812,12.8435,4.5647,0.6226,5.4651,...,6.7311,4.0575,4.2334,9.3685,11.9694,8.0581,12.1499,7.6680,10.1044,G2
TCGA-A3-3306-01,10.1293,4.8295,0.0000,10.6479,11.9086,11.5827,12.0497,2.2089,1.0252,2.8502,...,0.0000,4.2171,0.0000,10.5636,12.2014,9.1010,11.8201,5.2384,10.3869,G3