Import libraries

In [21]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [22]:
# Load dataset
datapath = "/Users/sabye/Downloads/wgRFECV-BIN/Data/"

cnv = pd.read_csv(datapath+"READ_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"READ_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"READ_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 166)
mrna: (20530, 106)
clinical: (186, 131)

In [23]:
cnv.head(2)

,Gene Symbol,TCGA-AF-2687-01,TCGA-AF-2689-01,TCGA-AF-2690-01,TCGA-AF-2691-01,TCGA-AF-2692-01,TCGA-AF-2693-01,TCGA-AF-3400-01,TCGA-AF-3911-01,TCGA-AF-3913-01,...,TCGA-F5-6812-01,TCGA-F5-6813-01,TCGA-F5-6814-01,TCGA-F5-6861-01,TCGA-F5-6863-01,TCGA-F5-6864-01,TCGA-G5-6233-01,TCGA-G5-6235-01,TCGA-G5-6572-01,TCGA-G5-6641-01
0,ACAP3,-0.258,-0.028,-0.376,-0.005,-0.606,-0.671,0.009,-0.009,0.091,...,0.077,-0.588,-0.003,-0.013,0.005,-0.606,0.027,-0.019,-0.638,-0.54
1,ACTRT2,-0.258,-0.028,-0.376,-0.005,-0.606,-0.671,0.009,-0.009,0.091,...,0.077,-0.588,-0.003,-0.013,0.005,-0.606,0.027,-0.019,-0.638,-0.54

In [24]:
mrna.head(2)

,sample,TCGA-DC-6156-01,TCGA-DC-6160-01,TCGA-EI-6512-01,TCGA-DC-5869-01,TCGA-EI-6507-01,TCGA-AF-3911-01,TCGA-EI-7004-01,TCGA-G5-6572-01,TCGA-EF-5830-01,...,TCGA-CI-6620-01,TCGA-AG-3725-01,TCGA-AH-6643-01,TCGA-DY-A0XA-01,TCGA-AF-3400-11,TCGA-EI-6506-01,TCGA-AF-2692-11,TCGA-AF-A56K-01,TCGA-DC-6154-01,TCGA-AG-3592-01
0,ARHGEF10L,10.1992,10.3169,11.043,10.0271,9.9905,10.9608,10.4161,10.7128,11.2239,...,10.9090,11.2637,10.3559,10.4947,11.4043,11.3188,10.7338,10.7196,11.3442,10.7753
1,HIF3A,4.3966,2.9721,4.662,5.6772,4.8457,3.6927,3.8500,6.8082,4.2232,...,3.3234,1.4272,2.3162,3.1015,5.7645,3.0008,7.7070,6.7224,6.1021,5.0876

In [25]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [26]:
cnv.head(2)

,TCGA-AF-2687-01,TCGA-AF-2689-01,TCGA-AF-2690-01,TCGA-AF-2691-01,TCGA-AF-2692-01,TCGA-AF-2693-01,TCGA-AF-3400-01,TCGA-AF-3911-01,TCGA-AF-3913-01,TCGA-AF-4110-01,...,TCGA-F5-6812-01,TCGA-F5-6813-01,TCGA-F5-6814-01,TCGA-F5-6861-01,TCGA-F5-6863-01,TCGA-F5-6864-01,TCGA-G5-6233-01,TCGA-G5-6235-01,TCGA-G5-6572-01,TCGA-G5-6641-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,-0.258,-0.028,-0.376,-0.005,-0.606,-0.671,0.009,-0.009,0.091,-0.6,...,0.077,-0.588,-0.003,-0.013,0.005,-0.606,0.027,-0.019,-0.638,-0.54
ACTRT2,-0.258,-0.028,-0.376,-0.005,-0.606,-0.671,0.009,-0.009,0.091,-0.6,...,0.077,-0.588,-0.003,-0.013,0.005,-0.606,0.027,-0.019,-0.638,-0.54

In [27]:
mrna.head(2)

,TCGA-DC-6156-01,TCGA-DC-6160-01,TCGA-EI-6512-01,TCGA-DC-5869-01,TCGA-EI-6507-01,TCGA-AF-3911-01,TCGA-EI-7004-01,TCGA-G5-6572-01,TCGA-EF-5830-01,TCGA-F5-6812-01,...,TCGA-CI-6620-01,TCGA-AG-3725-01,TCGA-AH-6643-01,TCGA-DY-A0XA-01,TCGA-AF-3400-11,TCGA-EI-6506-01,TCGA-AF-2692-11,TCGA-AF-A56K-01,TCGA-DC-6154-01,TCGA-AG-3592-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,10.1992,10.3169,11.043,10.0271,9.9905,10.9608,10.4161,10.7128,11.2239,11.2076,...,10.9090,11.2637,10.3559,10.4947,11.4043,11.3188,10.7338,10.7196,11.3442,10.7753
HIF3A,4.3966,2.9721,4.662,5.6772,4.8457,3.6927,3.8500,6.8082,4.2232,5.5419,...,3.3234,1.4272,2.3162,3.1015,5.7645,3.0008,7.7070,6.7224,6.1021,5.0876

Transpose the data

In [28]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (165, 24776)
mrna: (105, 20530)

In [29]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-AF-2687-01,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,...,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062
TCGA-AF-2689-01,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,...,0.046,0.046,0.046,0.046,0.046,0.046,0.046,0.046,0.046,0.046

In [30]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-DC-6156-01,10.1992,4.3966,0.0,11.5186,11.0056,10.9450,12.7061,3.9826,0.0000,4.0255,...,0.5634,2.751,4.7179,0.5634,8.5022,12.2766,8.7287,11.3129,5.4747,10.1059
TCGA-DC-6160-01,10.3169,2.9721,0.0,11.2514,9.6868,10.3097,11.1007,2.5211,1.0379,2.6477,...,0.6104,0.000,3.1538,0.6104,8.8313,10.2813,6.2338,10.7548,5.3398,10.3475

Remove duplication

In [31]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (165, 24776)
mrna (105, 20530)

Identify shared patients across all datasets and exclude those not shared

In [32]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 93

            sample
0  TCGA-AH-6903-01
1  TCGA-G5-6572-01
2  TCGA-F5-6864-01

In [33]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-AF-2687-01,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,-0.258,...,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062,-0.062
1,TCGA-AF-2689-01,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,-0.028,...,0.046,0.046,0.046,0.046,0.046,0.046,0.046,0.046,0.046,0.046

In [34]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-AF-2687-01,10.2749,7.9512,0.0,11.6592,10.5875,10.5499,11.7388,5.0413,0.5117,...,0.8886,0.0000,4.9842,2.1394,9.3747,12.7455,8.5597,10.9766,7.0733,10.1432
1,TCGA-AF-2689-11,10.8396,7.9466,0.0,11.9414,10.8846,10.2300,11.9348,5.0974,1.1289,...,1.1289,1.7544,5.1465,0.0000,8.4608,13.5262,7.0697,11.5299,6.9362,11.0686

Identify shared patients across all datasets and exclude those not shared

In [35]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (93, 24777)
Shape of samples RNA Sequence (RNASeq): (93, 20531)

Concatenate datasets with class labels

In [36]:
dataClass = clinical.CDE_ID_3226963.unique()
print("CDE_ID_3226963:", dataClass)
print(clinical.CDE_ID_3226963.value_counts())

CDE_ID_3226963: ['MSS' 'MSI-L' nan 'Indeterminate' 'MSI-H']
CDE_ID_3226963
MSS              157
MSI-L             20
MSI-H              6
Indeterminate      1
Name: count, dtype: int64

In [37]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [38]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['CDE_ID_3226963'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['CDE_ID_3226963'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (93, 24777)
RNA Sequence (RNASeq): (93, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [39]:
print(cnv_common_class.CDE_ID_3226963.value_counts())
print(mrna_common_class.CDE_ID_3226963.value_counts())

CDE_ID_3226963
MSS      75
MSI-L    14
MSI-H     3
Name: count, dtype: int64
CDE_ID_3226963
MSS      75
MSI-L    14
MSI-H     3
Name: count, dtype: int64

In [40]:
cnv_common_class.dropna(subset=['CDE_ID_3226963'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['CDE_ID_3226963'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (92, 24777)
mrna (92, 20531)

In [41]:
# List of subtypes to remove
subtypes_to_remove = [
    "MSI-H"
]

# Filter them out
cnv_common_class = cnv_common_class[~cnv_common_class['CDE_ID_3226963'].isin(subtypes_to_remove)]
print("Copy Number Variation (CNV):", cnv_common_class.shape)

mrna_common_class = mrna_common_class[~mrna_common_class['CDE_ID_3226963'].isin(subtypes_to_remove)]
print("RNA Sequence (RNASeq):", mrna_common_class.shape)

Copy Number Variation (CNV): (89, 24777)
RNA Sequence (RNASeq): (89, 20531)

Remove features with missing values

In [42]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [43]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (89, 24777)
mrna (89, 20531)

In [44]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [45]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 687 zero-variance columns: ['RBMY1A3P', 'OR8J1', 'SNORD115-17', 'OR6P1', 'SNORD114-31', 'SNORD114-30', 'OR5P2', 'SNORD115-6', 'SNORD115-7', 'PISRT1', 'SIX6', 'SNORD115-4', 'C3orf79', 'SNORD104', 'TECRL', 'SNORD115-9', 'ZCCHC13', 'PRAMEF5', 'PRAMEF6', 'OR7G1', 'C16orf78', 'SNORD38A', 'OR8U1', 'OR52N1', 'KRTAP19-2', 'KRTAP19-3', 'KRTAP19-6', 'KRTAP19-7', 'KRTAP19-4', 'KRTAP19-8', 'SNORD114-3', '?|441362', 'C20orf185', 'OR10A7', 'RAB9BP1', 'OR5R1', 'HBII-52-27', 'SNORD11', 'SNORD12', 'C10orf96', 'C20orf79', 'C20orf71', 'SNORD21', 'SNORD20', 'SNORD23', 'SNORD25', 'SNORD127', 'TAS2R16', 'SNORD124', 'TTTY17A', 'CETN1', 'SNORD115-5', 'SNORA14A', 'SNORD80', 'SNORA66', 'TRIM43', 'SLC17A6', 'SNORD56B', 'SNORD78', 'PRR21', 'TMCO5A', 'PRAMEF17', 'SNORD113-7', 'HSFX1', 'SNORD96A', 'PER4', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'OR2G3', 'SNORD4B', 'SNORD4A', 'CSHL1', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'RBMY1B', 'RBMY1F', 'OR52J3', 'GRXCR1', 'CSN1S2A', 'BPY2', 'DEFB121', 'TFAP2D', 'OR6V1', 'SNORD115-8', 'OR5V1', 'ACTRT2', 'WNT8A', 'MGC26647', 'SNORD67', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'BIRC8', 'LOC146481', 'SNORD113-4', 'SNORD116-26', 'OR5H15', 'OR5H14', 'GAGE2E', 'NEUROG1', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'OR5B17', 'PRR20A', 'PRR20C', 'PRR20D', 'OR1D4', 'TRIML1', 'LOC285627', 'OR5H1', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'PROL1', 'HNRNPCL1', 'LOC100287718', 'SNORD81', 'KRTAP21-1', 'OR8J3', 'OR2T12', 'MRGPRG', 'HES3', 'LOC360030', 'OR7G2', 'OR7G3', 'CDX4', 'TRIM53', 'GAGE12F', 'PRAMEF3', 'LOC100128977', '?|404770', 'OR5J2', 'SNORD114-20', 'LOC728410', 'SNAR-A3', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'OR2G2', 'OR4L1', 'SNORD114-29', 'OR1A1', 'OR3A4', 'TEX28', 'OR8H2', 'USP29', 'TAAR8', 'OR8H3', 'TRIM60', 'TRIM64', 'PYDC2', 'LOC285370', 'OR6C75', 'OR5L1', 'PTH2', 'PAGE3', 'KRTAP24-1', 'OR7A17', 'NCRNA00157', 'DCD', 'DEFB134', 'DEFB135', 'DEFB136', 'DEFB130', 'SNORD29', 'KRTAP10-1', 'S100A7L2', 'OR7C2', 'LOC653545', 'PPIAL4B', 'SPINK8', 'KRTAP15-1', 'GSC2', 'SNORD16', 'KRTAP19-5', 'SNORD36A', 'SNORD91B', 'LOC255025', 'RBMY1J', 'OR10S1', 'SNORD87', 'SNORD86', 'HYALP1', 'GPHB5', 'MYL1', 'OR4C11', 'OR4C13', 'OR4C12', 'DEFB116', 'DEFB114', 'DEFB115', 'DEFB112', 'DEFB113', 'C10orf53', 'OR4B1', 'RBMY1E', 'SNORD91A', 'SNORD88B', 'OR51B6', 'OR4D10', 'MOS', 'OR1L6', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'KRTAP13-1', 'C9orf27', 'PSG7', 'SNORD114-6', 'SNORD114-5', 'OR8B3', 'OR8B4', 'FOXB2', 'TMPRSS11BNL', 'OR13C4', 'OR13C2', 'OR13C8', 'FAM41AY1', 'TBC1D21', 'OR6C6', 'BSX', 'SNORD12C', 'PRAMEF22', 'SNORD123', 'SNORD126', 'SNORD125', 'OR1S1', 'OR1S2', 'DEFB108B', 'OR5B3', 'OR4D9', 'OR4D1', 'OR4D2', 'ZNF645', 'KRTAP23-1', 'SNORD48', 'OR5L2', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'OR14J1', 'KRTAP26-1', 'SNORD27', 'SNORD105', 'SPANXN4', 'DEFB106A', 'OR12D3', 'SPANXN1', 'NEUROD6', 'SNORD35A', 'SNORD35B', 'OR2W5', 'RBMY3AP', 'TMEM225', 'OR6K2', 'OR6K6', 'OR4A15', 'FLJ40434', 'LOC100169752', 'TTTY22', 'OR51D1', 'SNORD24', 'POTEA', 'C21orf94', 'GSTA5', 'GSTA3', 'SNORD28', 'OR52E4', 'TRIM77', 'KRTAP25-1', 'OR5F1', 'BEYLA', 'OR5AP2', 'OR5D18', 'LCE2B', 'LCE2A', 'TNP1', 'OR6C76', 'OR4S1', 'OR4S2', 'GLT6D1', 'OR2M1P', 'SNORD49A', 'OR2L8', 'SNTG1', 'C11orf40', 'SNORD102', 'SNORD115-14', 'PRNT', 'LCE4A', 'KRTAP12-3', 'C21orf131', 'OR5M9', 'OR5M3', 'OR5M1', 'SNORD115-16', 'SNORA70B', 'POM121L12', 'TAAR5', 'TAAR9', 'SNORD30', 'SNORD31', 'SNORD115-10', 'OR6C1', 'SNORD18B', '?|728045', 'CLDN25', 'BASE', 'OR4K15', 'OR4K14', 'TMEM202', 'SNORD26', 'SNORD114-7', 'FTMT', 'SNORD45C', 'SNORD111B', 'SNORD18A', 'TTTY5', 'TTTY8', 'SNORA36C', 'TTTY20', 'OR2Z1', 'CT47A7', 'CT47A9', 'SNORD109B', 'OR10G3', 'SNORD45B', 'TTTY23', 'SNORD45A', 'LRRC30', 'OR5D13', 'KRTAP6-3', 'KRTAP6-2', 'KRTAP6-1', 'OR5D14', 'OR5D16', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'CDY1B', 'MBD3L1', 'MBD3L2', 'MBD3L5', 'SNORD1A', 'SNORD1B', 'SLC7A13', 'SNORD19', 'OR2J2', 'LACRT', 'OR9G4', 'SNORD115-37', 'OR4C16', 'OR52M1', 'PSG10', 'OR4K5', 'OR4K1', 'OR4K2', 'SNORD44', 'SLC22A24', 'LOC286135', 'SNORD34', 'SNORA58', 'SNORD121B', 'SNORD121A', 'GPR139', 'SNAR-F', 'SNAR-E', 'SNAR-H', 'FLJ44082', 'SUN5', 'MS4A5', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD11B', 'SNORD49B', 'OR4C15', 'SNORD116-19', 'SNORA35', 'SNORD116-11', '?|136542', 'DEFB110', 'C8orf71', 'PRR23A', 'PRR23C', 'PRR23B', 'GLYCAM1', 'KCNK18', 'SNORD59B', 'SNORD59A', 'SMCP', 'IFNA17', 'SNORD116-27', 'C1orf68', 'OR5W2', 'OR6C65', 'SNORD114-21', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'OR2Y1', 'OR8K1', 'OR8K5', 'OR2T29', 'OR2T27', 'SPAG11A', 'CDY1', 'OR10C1', 'SNORA19', 'RNU5E', 'SNORD88C', 'RNY5', 'RNY4', 'OR6N2', 'SNORA36B', 'OR1E2', 'SNORD114-16', 'OR5I1', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'SDC4P', 'BPIL3', 'OR4M2', 'OR4M1', 'OR10X1', 'SNORD116-18', 'KRTAP20-3', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'OR8I2', 'CSPG4PY2', 'OR7D4', 'SNORD116-12', 'SMR3A', 'C13orf28', 'C7orf66', 'NMS', 'SNORD73A', 'OR5K3', 'SNORD115-32', 'SNORD115-39', 'SNAR-D', 'SNORA30', 'OR10Z1', 'UBTFL1', 'DEFB129', 'DEFB128', 'DEFB127', 'DEFB125', 'DEFB123', 'DEFB122', 'OR4D11', 'OR8G2', 'OR10A3', '?|442388', 'NEUROD4', 'OR4K17', 'OR4K13', 'OR4A16', 'OR52E6', 'OR52E2', 'HTR1A', 'FTLP10', 'SNORD116-10', 'SNORD116-13', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'OR5M8', 'XKRY', 'SNORD95', 'SNORD90', 'GAGE10', 'SNORD114-18', 'GAGE13', 'SNORD92', 'LOC200726', 'HIST1H4G', 'OR10T2', 'TSSK2', 'SNORA70C', 'SCARNA11', 'SNORD114-15', 'SNORD19B', 'LOC729121', 'CYLC2', 'SNORD70', 'SNORD76', '?|317712', 'SNORA11D', 'SNORD77', 'HBII-52-24', 'SNAR-A13', 'TREML2P1', 'SNORD60', 'TXNDC8', 'TTTY3B', 'SCARNA14', 'OR2AK2', 'LOC727924', 'SNORA11C', 'SNORA11B', 'OR4Q3', 'OR51A7', 'OR51A2', 'OR51A4', 'OR52A1', 'OR52A4', 'SNORD105B', 'PRM3', 'OR6B1', 'TTTY17B', 'HIST1H2AA', 'HIGD1C', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'OR4F4', 'SNORD33', 'VTRNA1-2', 'OR5A2', 'SNAR-G2', 'FAM74A4', 'FAM74A1', 'OR4F17', 'OR10P1', 'SNORD54', 'TTTY16', 'FAM197Y2', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'LCN9', 'OR1M1', 'OR8B2', 'OR4X1', 'TTTY21', 'OR8B8', 'OR10A6', 'KRTAP27-1', 'PRAMEF16', 'PRAMEF13', 'PRAMEF10', 'PRAMEF11', 'DUX4', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'KRTAP4-5', 'NF1P1', 'SNAR-A4', 'OR10R2', 'RNASE9', 'OR2T6', 'TTTY12', 'SNORD8', 'SPRYD5', 'OR5AS1', 'SNORD32A', 'SNORD43', 'SNORD114-12', 'OR2L2', 'OR2L3', 'NPS', 'OR1I1', 'TSPY4', 'SNORD71', 'PRR20B', 'SNAR-C3', 'SNAR-C2', 'DEFB107A', 'OR1D2', 'OR13C9', 'LCE1F', 'RBMY2FP', 'SNORD88A', 'SNORD36B', 'SNAR-I', 'LOC286238', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'OR2M5', 'OR2M7', 'OR2M3', 'OR2M2', 'SNORD62A', 'DEFB105A', 'TAS2R7', 'LCE6A', 'LCE3A', 'LCE3B', 'LCE3C', 'SNORD116-5', 'SNORD103A', 'OR11H1', 'OR56A1', 'OR4F15', 'UBQLN3', 'OR4C45', 'OR8B12', 'SNORD42B', 'OR6C74', 'IFNA16', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'OR14C36', 'ZNRF4', 'TTTY11', 'TTTY13', 'TTTY19', 'LOC283914', 'OR4N5', 'SNORD115-33', 'OR10H3', 'OR10H4', 'SNORD115-30', 'SNORD115-31', 'OR2W1', 'OR6Y1', 'SNORD114-2', 'KRTAP20-2', 'SNORD115-38', 'KRTAP20-4', 'IFNA6', 'OR5M10', 'C14orf177', 'SNORD18C', 'SNORD12B', 'LOC100287704', 'HSFYL1', 'OR4C46', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A10', 'OR4P4', 'FSHB', 'SNORA11E', 'PLCZ1', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'OPN1MW', 'SNORD85', 'SNORD84', 'SNORD82', 'OR51V1', 'SNORD32B', 'IFNA8', 'OR10J5']
DataFrame 2 updated shape: (89, 19844)

----Updated Shapes of DataFrames----
DataFrame 1: (89, 24777)
DataFrame 2: (89, 19844)

Eliminate redundant information

In [46]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.CDE_ID_3226963.value_counts())

----Omics dataset----
cnv: (89, 24777)
mrna (89, 19844)
----Class distribution----
CDE_ID_3226963
MSS      75
MSI-L    14
Name: count, dtype: int64

Data standardization

In [47]:
datapath_out = "/Users/sabye/Downloads/wgRFECV-BIN/Result/"

In [48]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['hys'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_READ_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_READ_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_READ_mrna.csv