Import libraries

In [29]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [30]:
# Load dataset
datapath = "/Users/sabye/Downloads/wgRFECV-BIN/Data/"

cnv = pd.read_csv(datapath+"CESC_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"CESC_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"CESC_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 296)
mrna: (20530, 309)
clinical: (313, 158)

In [31]:
cnv.head(2)

,Gene Symbol,TCGA-2W-A8YY-01,TCGA-4J-AA1J-01,TCGA-BI-A0VR-01,TCGA-BI-A0VS-01,TCGA-BI-A20A-01,TCGA-C5-A0TN-01,TCGA-C5-A1BE-01,TCGA-C5-A1BF-01,TCGA-C5-A1BI-01,...,TCGA-ZJ-AAXD-01,TCGA-ZJ-AAXF-01,TCGA-ZJ-AAXI-01,TCGA-ZJ-AAXJ-01,TCGA-ZJ-AAXN-01,TCGA-ZJ-AAXT-01,TCGA-ZJ-AAXU-01,TCGA-ZJ-AB0H-01,TCGA-ZJ-AB0I-01,TCGA-ZX-AA5X-01
0,ACAP3,0.0,-0.009,0.211,0.119,0.05,-0.85,0.0,0.012,0.149,...,0.366,0.149,0.333,-0.057,-0.3,0.0,0.0,-0.065,0.807,0.4
1,ACTRT2,0.0,-0.009,0.211,0.119,0.05,-0.85,0.0,0.012,0.149,...,0.366,0.149,0.333,-0.057,-0.3,0.0,0.0,-0.065,0.807,0.4

In [32]:
mrna.head(2)

,sample,TCGA-EA-A3HT-01,TCGA-FU-A3HZ-01,TCGA-FU-A3TQ-01,TCGA-DS-A0VK-01,TCGA-UC-A7PG-01,TCGA-C5-A7UE-01,TCGA-C5-A1MJ-01,TCGA-UC-A7PI-01,TCGA-C5-A1MF-01,...,TCGA-JW-A5VI-01,TCGA-VS-A9UD-01,TCGA-C5-A1BQ-01,TCGA-MU-A8JM-01,TCGA-DS-A0VM-01,TCGA-MY-A5BF-01,TCGA-EA-A556-01,TCGA-IR-A3LA-01,TCGA-VS-AA62-01,TCGA-ZJ-AAXB-01
0,ARHGEF10L,10.5288,8.9938,11.1427,9.6531,10.7841,9.1479,9.9180,11.3020,9.7611,...,9.7557,9.4056,9.4501,8.8562,9.3147,9.6083,8.6916,9.7172,8.5571,9.3718
1,HIF3A,2.3360,3.0519,2.8401,4.7910,5.0874,1.0768,5.0908,4.0824,6.6607,...,2.5435,3.4127,3.4331,1.4381,2.3607,1.5007,9.9533,3.3598,2.4615,5.6179

In [33]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [34]:
cnv.head(2)

,TCGA-2W-A8YY-01,TCGA-4J-AA1J-01,TCGA-BI-A0VR-01,TCGA-BI-A0VS-01,TCGA-BI-A20A-01,TCGA-C5-A0TN-01,TCGA-C5-A1BE-01,TCGA-C5-A1BF-01,TCGA-C5-A1BI-01,TCGA-C5-A1BJ-01,...,TCGA-ZJ-AAXD-01,TCGA-ZJ-AAXF-01,TCGA-ZJ-AAXI-01,TCGA-ZJ-AAXJ-01,TCGA-ZJ-AAXN-01,TCGA-ZJ-AAXT-01,TCGA-ZJ-AAXU-01,TCGA-ZJ-AB0H-01,TCGA-ZJ-AB0I-01,TCGA-ZX-AA5X-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,0.0,-0.009,0.211,0.119,0.05,-0.85,0.0,0.012,0.149,0.002,...,0.366,0.149,0.333,-0.057,-0.3,0.0,0.0,-0.065,0.807,0.4
ACTRT2,0.0,-0.009,0.211,0.119,0.05,-0.85,0.0,0.012,0.149,0.002,...,0.366,0.149,0.333,-0.057,-0.3,0.0,0.0,-0.065,0.807,0.4

In [35]:
mrna.head(2)

,TCGA-EA-A3HT-01,TCGA-FU-A3HZ-01,TCGA-FU-A3TQ-01,TCGA-DS-A0VK-01,TCGA-UC-A7PG-01,TCGA-C5-A7UE-01,TCGA-C5-A1MJ-01,TCGA-UC-A7PI-01,TCGA-C5-A1MF-01,TCGA-EA-A5ZF-01,...,TCGA-JW-A5VI-01,TCGA-VS-A9UD-01,TCGA-C5-A1BQ-01,TCGA-MU-A8JM-01,TCGA-DS-A0VM-01,TCGA-MY-A5BF-01,TCGA-EA-A556-01,TCGA-IR-A3LA-01,TCGA-VS-AA62-01,TCGA-ZJ-AAXB-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,10.5288,8.9938,11.1427,9.6531,10.7841,9.1479,9.9180,11.3020,9.7611,9.1857,...,9.7557,9.4056,9.4501,8.8562,9.3147,9.6083,8.6916,9.7172,8.5571,9.3718
HIF3A,2.3360,3.0519,2.8401,4.7910,5.0874,1.0768,5.0908,4.0824,6.6607,7.5791,...,2.5435,3.4127,3.4331,1.4381,2.3607,1.5007,9.9533,3.3598,2.4615,5.6179

Transpose the data

In [36]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (295, 24776)
mrna: (308, 20530)

In [37]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-2W-A8YY-01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021
TCGA-4J-AA1J-01,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,...,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272

In [38]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-EA-A3HT-01,10.5288,2.3360,1.1089,11.5901,11.5206,10.6758,12.0714,4.8749,0.0,2.1604,...,1.1089,0.0000,4.8462,1.4516,9.2349,12.5329,6.7780,9.9459,3.3582,10.0640
TCGA-FU-A3HZ-01,8.9938,3.0519,0.0000,11.7196,10.8445,9.3593,12.3598,2.5966,0.0,1.0854,...,0.0000,1.4238,4.4801,2.7246,8.7393,10.1113,5.4474,10.1345,3.3184,10.4844

Remove duplication

In [39]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (295, 24776)
mrna (308, 20530)

Identify shared patients across all datasets and exclude those not shared

In [40]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 290

            sample
0  TCGA-HM-A6W2-01
1  TCGA-VS-A9UQ-01
2  TCGA-C5-A2LV-01

In [41]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-2W-A8YY-01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021,-0.021
1,TCGA-4J-AA1J-01,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,...,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272,-0.272

In [42]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-2W-A8YY-01,9.7001,6.1518,0.0000,11.7427,10.5971,9.9744,12.4478,3.5954,0.0,...,0.4412,0.00,3.8312,0.0000,9.2722,9.9035,6.4041,10.5930,4.9891,10.6915
1,TCGA-4J-AA1J-01,9.7899,5.4216,1.9965,11.4053,11.0224,10.1437,12.1223,4.5101,0.0,...,0.5132,1.19,3.8747,2.6149,8.7719,12.4489,6.6079,10.8191,6.3147,10.3348

Identify shared patients across all datasets and exclude those not shared

In [43]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (290, 24777)
Shape of samples RNA Sequence (RNASeq): (290, 20531)

Concatenate datasets with class labels

In [44]:
dataClass = clinical.histological_type.unique()
print("histological_type:", dataClass)
print(clinical.histological_type.value_counts())

histological_type: ['Adenosquamous' 'Cervical Squamous Cell Carcinoma'
 'Endocervical Type of Adenocarcinoma'
 'Endocervical Adenocarcinoma of the Usual Type'
 'Mucinous Adenocarcinoma of Endocervical Type'
 'Endometrioid Adenocarcinoma of Endocervix' nan]
histological_type
Cervical Squamous Cell Carcinoma                 257
Endocervical Type of Adenocarcinoma               22
Mucinous Adenocarcinoma of Endocervical Type      17
Adenosquamous                                      7
Endocervical Adenocarcinoma of the Usual Type      6
Endometrioid Adenocarcinoma of Endocervix          3
Name: count, dtype: int64

In [45]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [46]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (290, 24777)
RNA Sequence (RNASeq): (290, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [47]:
print(cnv_common_class.histological_type.value_counts())
print(mrna_common_class.histological_type.value_counts())

histological_type
Cervical Squamous Cell Carcinoma                 238
Endocervical Type of Adenocarcinoma               21
Mucinous Adenocarcinoma of Endocervical Type      17
Endocervical Adenocarcinoma of the Usual Type      6
Adenosquamous                                      5
Endometrioid Adenocarcinoma of Endocervix          3
Name: count, dtype: int64
histological_type
Cervical Squamous Cell Carcinoma                 238
Endocervical Type of Adenocarcinoma               21
Mucinous Adenocarcinoma of Endocervical Type      17
Endocervical Adenocarcinoma of the Usual Type      6
Adenosquamous                                      5
Endometrioid Adenocarcinoma of Endocervix          3
Name: count, dtype: int64

In [48]:
cnv_common_class.dropna(subset=['histological_type'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['histological_type'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (290, 24777)
mrna (290, 20531)

In [49]:
# List of subtypes to remove
subtypes_to_remove = [
    "Endocervical Adenocarcinoma of the Usual Type", "Adenosquamous", "Endometrioid Adenocarcinoma of Endocervix"
]

# Filter them out
cnv_common_class = cnv_common_class[~cnv_common_class['histological_type'].isin(subtypes_to_remove)]
print("Copy Number Variation (CNV):", cnv_common_class.shape)

mrna_common_class = mrna_common_class[~mrna_common_class['histological_type'].isin(subtypes_to_remove)]
print("RNA Sequence (RNASeq):", mrna_common_class.shape)

Copy Number Variation (CNV): (276, 24777)
RNA Sequence (RNASeq): (276, 20531)

Remove features with missing values

In [50]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [51]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (276, 24777)
mrna (276, 20531)

In [52]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [53]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 418 zero-variance columns: ['RBMY1A3P', 'SNORD115-17', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'SNORD115-4', 'SNORD104', 'SNORD115-9', 'SNORD38A', 'KRTAP19-2', 'KRTAP19-7', 'KRTAP19-4', 'SNORD114-3', 'SRY', 'HBII-52-27', 'SNORD11', 'SNORD12', 'SNORD21', 'SNORD20', 'SNORD23', 'SNORD25', 'SNORD127', 'DAZ3', 'DAZ2', 'DAZ4', 'SNORD124', 'TTTY17A', 'SNORD115-5', 'SNORD80', 'TSPY1', 'TSPY2', 'SNORD56B', 'SNORD78', 'PRAMEF17', 'SNORD113-7', 'HSFX1', 'SNORD96A', 'ADAM3A', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'SNORD4B', 'SNORD4A', 'CRYGA', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'RBMY1B', 'RBMY1F', 'OR52J3', 'CSN1S2A', 'BPY2', 'DEFB121', 'SNORD115-8', 'OR6Q1', 'SNORD67', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'OR2T34', 'SNORD113-4', 'SNORD116-26', 'OR5H15', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'PRR20A', 'PRR20C', 'PRR20D', 'OR5H1', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'PRY2', 'SNORD81', 'KRTAP21-1', 'OR8J3', 'PRAMEF3', '?|404770', 'SNORD114-20', 'LOC728410', 'SNAR-A3', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'SNORD114-29', 'OR8H3', 'KRTAP24-1', 'DEFB134', 'DEFB135', 'DEFB130', 'SNORD29', 'S100A7L2', 'LOC653545', 'OR6C3', 'WFDC9', 'KRTAP15-1', 'SNORD16', 'SNORD36A', 'SNORD91B', 'RBMY1J', 'SNORD87', 'SNORD86', 'OR4C11', 'DEFB116', 'DEFB114', 'DEFB115', 'DEFB112', 'DEFB113', 'TTTY4C', 'OR4B1', 'RBMY1E', 'SNORD91A', 'ATXN8OS', 'SNORD88B', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'SNORD114-6', 'SNORD114-5', 'OR8B3', 'FAM27L', 'FAM41AY1', 'OR6C6', 'SNORD12C', 'SNORD123', 'SNORD126', 'SNORD125', 'DEFB108B', 'OR5B3', 'OR5T3', 'KRTAP23-1', 'SNORD48', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'SNORD27', 'SNORD105', 'SPANXN4', 'DEFB106A', 'RBMY2EP', 'SPANXN1', 'SNORD35A', 'SNORD35B', 'RBMY3AP', 'LOC100169752', 'TTTY22', 'OR51D1', 'SNORD24', 'C21orf94', 'SNORD28', 'HSFY2', 'OR52E8', 'TRIM77', 'XKRY2', 'KRTAP25-1', 'TTTY6B', 'OR5D18', 'OR2M1P', 'SNORD49A', 'OR5AK2', 'SNORD102', 'ZNF735', 'SNORD115-14', 'OR5M3', 'BSPH1', 'SNORD115-16', 'SNORD30', 'SNORD31', 'SNORD115-10', 'SNORD18B', 'OR51L1', 'OR51S1', 'SNORD26', 'SNORD114-7', 'SNORD45C', 'SNORD111B', 'SNORD18A', 'TTTY6', 'TTTY7', 'TTTY5', 'TTTY8', 'SNORA36C', 'TTTY20', 'CT47A7', 'CT47A9', 'SNORD109B', 'OR10K1', 'SNORD45B', 'TTTY23', 'SNORD45A', 'KRTAP6-2', 'OR5D14', 'OR5D16', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'CDY1B', 'SNORD1A', 'SNORD1B', 'SNORD19', 'OR9G4', 'SNORD115-37', 'OR4K5', 'SNORD44', 'SNORD34', 'LOC254312', 'SNORD121B', 'SNORD121A', 'OR10AG1', 'SNAR-F', 'SNAR-H', 'SUN5', 'MS4A5', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD11B', 'SNORD49B', 'OR4C15', 'SNORD116-19', 'SNORA35', 'SNORD116-11', '?|136542', 'DEFB110', 'GLYCAM1', 'SNORD59B', 'SNORD59A', 'SNORD116-27', 'OR6C68', 'SNORD114-21', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'OR8K5', 'OR2T27', 'CDY1', 'SNORA19', 'RNU5E', 'SNORD88C', 'RNY5', 'RNY4', 'SNORD114-16', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'OR10X1', 'SNORD116-18', 'KRTAP20-3', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'SNORD116-12', 'C13orf28', 'C7orf66', 'NMS', 'SNORD73A', 'SNORD115-32', 'SNORD115-39', 'SNAR-D', 'SNORA30', 'DEFB128', 'DEFB127', 'DEFB122', 'SNAR-C4', '?|442388', 'OR4K13', 'OR4A16', 'SNORD116-10', 'SNORD116-13', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'OR5M8', 'XKRY', 'SNORD95', 'SNORD90', 'SNORD114-18', 'SNORD92', 'TSSK2', 'SNORA70C', 'SNORD114-15', 'SNORD19B', 'SNORD70', 'SNORD76', '?|317712', 'SNORD77', 'HBII-52-24', 'SNAR-A13', 'TREML2P1', 'SNORD60', 'TXNDC8', 'TTTY3B', 'KRTAP13-4', 'KRTAP13-3', 'SNORA11C', 'OR51A2', 'OR51A4', 'IQCF2', 'SNORD105B', 'TTTY17B', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'SNORD33', 'VTRNA1-2', 'SNORD54', 'TTTY16', 'TTTY10', 'TTTY18', 'TTTY1B', 'FAM197Y2', 'OR51G2', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'MLN', 'TTTY21', 'RBMY1A1', 'DUX4', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'KRTAP12-4', 'SNAR-A2', 'SNAR-A4', 'OR10R2', 'TTTY12', 'OR2T1', 'OR5AS1', 'SNORD32A', 'SNORD43', 'SNORD114-12', 'NPS', 'TSPY4', 'SNORD71', 'PRR20B', 'SNAR-C3', 'SNAR-C2', 'VN1R4', 'SNORD88A', 'SNORD36B', 'SNAR-I', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'OR2M5', 'SNORD62A', 'DEFB105A', 'SNORD116-5', 'SNORD103A', 'OR4C45', 'OR8B12', 'SNORD42B', 'IFNA16', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'TTTY11', 'TTTY13', 'TTTY19', 'LOC340094', 'SNORD115-33', 'SNORD115-30', 'TTTY9B', 'SNORD115-31', 'OR6Y1', 'SNORD114-2', 'SNORD115-38', 'SNORD18C', 'SNORD12B', 'LOC100287704', 'CDY2B', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A11', 'CT47A10', 'OR4P4', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'SNORD32B', 'AMELY', 'OR10J5']
DataFrame 2 updated shape: (276, 20113)

----Updated Shapes of DataFrames----
DataFrame 1: (276, 24777)
DataFrame 2: (276, 20113)

Eliminate redundant information

In [54]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.histological_type.value_counts())

----Omics dataset----
cnv: (276, 24777)
mrna (276, 20113)
----Class distribution----
histological_type
Cervical Squamous Cell Carcinoma                238
Endocervical Type of Adenocarcinoma              21
Mucinous Adenocarcinoma of Endocervical Type     17
Name: count, dtype: int64

Data standardization

In [55]:
datapath_out = "/Users/sabye/Downloads/wgRFECV-BIN/Result/"

In [56]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['hys'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_CESC_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_CESC_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_CESC_mrna.csv