Import libraries

In [28]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [29]:
# Load dataset
datapath = "/Users/sabye/Downloads/wgRFECV-BIN/Data/"

cnv = pd.read_csv(datapath+"THYM_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"THYM_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"THYM_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 124)
mrna: (20530, 123)
clinical: (126, 74)

In [30]:
cnv.head(2)

,Gene Symbol,TCGA-3G-AB0O-01,TCGA-3G-AB0Q-01,TCGA-3G-AB0T-01,TCGA-3G-AB14-01,TCGA-3G-AB19-01,TCGA-3Q-A9WF-01,TCGA-3S-A8YW-01,TCGA-3S-AAYX-01,TCGA-3T-AA9L-01,...,TCGA-ZB-A96P-01,TCGA-ZB-A96Q-01,TCGA-ZB-A96R-01,TCGA-ZB-A96V-01,TCGA-ZC-AAA7-01,TCGA-ZC-AAAA-01,TCGA-ZC-AAAF-01,TCGA-ZC-AAAH-01,TCGA-ZL-A9V6-01,TCGA-ZT-A8OM-01
0,ACAP3,0.006,-0.026,0.144,-0.014,0.009,-0.004,-0.532,-0.01,0.012,...,-0.019,-0.005,0.0,0.002,-0.008,0.001,-0.001,0.035,-0.005,-0.001
1,ACTRT2,0.006,-0.026,0.144,-0.014,0.009,-0.004,-0.532,-0.01,0.012,...,-0.019,-0.005,0.0,0.002,-0.008,0.001,-0.001,0.035,-0.005,-0.001

In [31]:
mrna.head(2)

,sample,TCGA-ZB-A96P-01,TCGA-X7-A8M4-01,TCGA-4V-A9QI-01,TCGA-4V-A9QL-01,TCGA-X7-A8DE-01,TCGA-ZB-A963-01,TCGA-3T-AA9L-01,TCGA-4V-A9QW-01,TCGA-YT-A95E-01,...,TCGA-XU-A936-01,TCGA-4V-A9QX-01,TCGA-ZB-A96R-01,TCGA-XM-A8RF-01,TCGA-XU-A92X-01,TCGA-XU-A92Z-01,TCGA-X7-A8D8-01,TCGA-XU-A92O-01,TCGA-X7-A8M8-01,TCGA-3G-AB14-01
0,ARHGEF10L,5.9112,7.1534,7.2058,7.9149,7.2974,8.5239,5.1763,7.0397,6.9305,...,9.4304,7.7330,6.6605,7.7890,9.3090,8.1344,8.2520,7.1141,6.5183,9.1209
1,HIF3A,2.6279,6.5434,7.5815,6.9778,5.1001,4.0366,4.4036,5.5492,4.7640,...,8.2541,4.5728,2.5159,5.5568,5.1962,1.1869,6.7037,5.1845,5.7662,8.6198

In [32]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [33]:
cnv.head(2)

,TCGA-3G-AB0O-01,TCGA-3G-AB0Q-01,TCGA-3G-AB0T-01,TCGA-3G-AB14-01,TCGA-3G-AB19-01,TCGA-3Q-A9WF-01,TCGA-3S-A8YW-01,TCGA-3S-AAYX-01,TCGA-3T-AA9L-01,TCGA-4V-A9QI-01,...,TCGA-ZB-A96P-01,TCGA-ZB-A96Q-01,TCGA-ZB-A96R-01,TCGA-ZB-A96V-01,TCGA-ZC-AAA7-01,TCGA-ZC-AAAA-01,TCGA-ZC-AAAF-01,TCGA-ZC-AAAH-01,TCGA-ZL-A9V6-01,TCGA-ZT-A8OM-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,0.006,-0.026,0.144,-0.014,0.009,-0.004,-0.532,-0.01,0.012,0.052,...,-0.019,-0.005,0.0,0.002,-0.008,0.001,-0.001,0.035,-0.005,-0.001
ACTRT2,0.006,-0.026,0.144,-0.014,0.009,-0.004,-0.532,-0.01,0.012,0.052,...,-0.019,-0.005,0.0,0.002,-0.008,0.001,-0.001,0.035,-0.005,-0.001

In [34]:
mrna.head(2)

,TCGA-ZB-A96P-01,TCGA-X7-A8M4-01,TCGA-4V-A9QI-01,TCGA-4V-A9QL-01,TCGA-X7-A8DE-01,TCGA-ZB-A963-01,TCGA-3T-AA9L-01,TCGA-4V-A9QW-01,TCGA-YT-A95E-01,TCGA-X7-A8DF-01,...,TCGA-XU-A936-01,TCGA-4V-A9QX-01,TCGA-ZB-A96R-01,TCGA-XM-A8RF-01,TCGA-XU-A92X-01,TCGA-XU-A92Z-01,TCGA-X7-A8D8-01,TCGA-XU-A92O-01,TCGA-X7-A8M8-01,TCGA-3G-AB14-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,5.9112,7.1534,7.2058,7.9149,7.2974,8.5239,5.1763,7.0397,6.9305,7.5823,...,9.4304,7.7330,6.6605,7.7890,9.3090,8.1344,8.2520,7.1141,6.5183,9.1209
HIF3A,2.6279,6.5434,7.5815,6.9778,5.1001,4.0366,4.4036,5.5492,4.7640,4.3894,...,8.2541,4.5728,2.5159,5.5568,5.1962,1.1869,6.7037,5.1845,5.7662,8.6198

Transpose the data

In [35]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (123, 24776)
mrna: (122, 20530)

In [36]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-3G-AB0O-01,0.006,0.006,0.006,0.006,0.006,0.006,0.006,0.006,0.006,0.006,...,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017
TCGA-3G-AB0Q-01,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,...,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002

In [37]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-ZB-A96P-01,5.9112,2.6279,0.0,11.8625,9.9403,9.3885,12.7935,0.0000,0.3479,8.6438,...,0.0,0.0000,5.4262,3.6066,8.2874,8.1108,4.9024,10.3093,1.8981,8.8505
TCGA-X7-A8M4-01,7.1534,6.5434,0.0,12.0008,10.1789,9.9705,12.8489,1.4948,0.9329,6.6320,...,0.0,2.6903,5.7353,3.3350,8.0553,12.0477,8.4117,11.0350,3.8715,9.4268

Remove duplication

In [38]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (123, 24776)
mrna (122, 20530)

Identify shared patients across all datasets and exclude those not shared

In [39]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 119

            sample
0  TCGA-XM-A8RF-01
1  TCGA-ZB-A962-01
2  TCGA-X7-A8D6-01

In [40]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-3G-AB0O-01,0.006,0.006,0.006,0.006,0.006,0.006,0.006,0.006,0.006,...,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017
1,TCGA-3G-AB0Q-01,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,-0.026,...,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002,-0.002

In [41]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-3G-AB0O-01,6.3409,3.6366,0.0,11.9505,9.9786,9.5009,13.0365,2.8006,0.996,...,0.00,1.3172,5.8377,2.4530,8.2353,9.8945,5.6070,11.0792,6.0256,8.9273
1,TCGA-3G-AB0Q-01,8.6342,8.3575,0.0,12.0800,10.8148,10.6025,12.9276,1.7771,0.000,...,0.76,5.0248,5.8460,4.6792,9.1688,13.6039,8.2416,11.2787,4.9779,9.5534

Identify shared patients across all datasets and exclude those not shared

In [42]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (119, 24777)
Shape of samples RNA Sequence (RNASeq): (119, 20531)

Concatenate datasets with class labels

In [43]:
dataClass = clinical.histological_type.unique()
print("histological_type:", dataClass)
print(clinical.histological_type.value_counts())

histological_type: ['Thymoma; Type B1' 'Thymoma; Type A' 'Thymoma; Type B2' 'Thymoma; Type C'
 'Thymoma; Type B3' 'Thymoma; Type AB' 'Thymoma; Type B2|Thymoma; Type B3'
 'Thymoma; Type A|Thymoma; Type AB' 'Thymoma; Type B1|Thymoma; Type B2']
histological_type
Thymoma; Type AB                     38
Thymoma; Type B2                     29
Thymoma; Type B1                     15
Thymoma; Type A                      15
Thymoma; Type B3                     12
Thymoma; Type C                      11
Thymoma; Type B2|Thymoma; Type B3     3
Thymoma; Type A|Thymoma; Type AB      2
Thymoma; Type B1|Thymoma; Type B2     1
Name: count, dtype: int64

In [44]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [45]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['histological_type'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (119, 24777)
RNA Sequence (RNASeq): (119, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [46]:
print(cnv_common_class.histological_type.value_counts())
print(mrna_common_class.histological_type.value_counts())

histological_type
Thymoma; Type AB                     35
Thymoma; Type B2                     27
Thymoma; Type A                      15
Thymoma; Type B1                     14
Thymoma; Type C                      11
Thymoma; Type B3                     11
Thymoma; Type B2|Thymoma; Type B3     3
Thymoma; Type A|Thymoma; Type AB      2
Thymoma; Type B1|Thymoma; Type B2     1
Name: count, dtype: int64
histological_type
Thymoma; Type AB                     35
Thymoma; Type B2                     27
Thymoma; Type A                      15
Thymoma; Type B1                     14
Thymoma; Type C                      11
Thymoma; Type B3                     11
Thymoma; Type B2|Thymoma; Type B3     3
Thymoma; Type A|Thymoma; Type AB      2
Thymoma; Type B1|Thymoma; Type B2     1
Name: count, dtype: int64

In [47]:
cnv_common_class.dropna(subset=['histological_type'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['histological_type'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (119, 24777)
mrna (119, 20531)

In [48]:
# List of subtypes to remove
subtypes_to_remove = [
    "Thymoma; Type B2|Thymoma; Type B3", "Thymoma; Type A|Thymoma; Type AB", "Thymoma; Type B1|Thymoma; Type B2"
]

# Filter them out
cnv_common_class = cnv_common_class[~cnv_common_class['histological_type'].isin(subtypes_to_remove)]
print("Copy Number Variation (CNV):", cnv_common_class.shape)

mrna_common_class = mrna_common_class[~mrna_common_class['histological_type'].isin(subtypes_to_remove)]
print("RNA Sequence (RNASeq):", mrna_common_class.shape)

Copy Number Variation (CNV): (113, 24777)
RNA Sequence (RNASeq): (113, 20531)

Remove features with missing values

In [49]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [50]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (113, 24777)
mrna (113, 20531)

In [51]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [52]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 540 zero-variance columns: ['RBMY1A3P', 'OR8J1', 'SNORD115-17', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'SNORD115-7', 'PISRT1', 'SNORD115-4', 'SNORD104', 'REG1P', 'KRTAP2-4', 'SNORD115-9', 'ZCCHC13', 'OR7G1', 'SNORD38A', 'OR8U1', 'KRTAP19-2', 'KRTAP19-7', 'KRTAP19-4', 'SNORD114-3', '?|441362', 'RAB9BP1', 'OR5R1', 'CT45A6', 'HBII-52-27', 'SNORD11', 'SNORD12', 'C10orf96', 'C20orf79', 'C20orf71', 'SNORD21', 'SNORD20', 'SNORD23', 'SNORD25', 'SERPINA7', 'SNORD127', 'DAZ3', 'DAZ4', 'SNORD124', 'TTTY17A', 'CETN1', 'SNORD115-5', 'SNORD80', 'TSPY3', 'SNORD56B', 'SNORD78', 'PRR21', 'SNORD113-7', 'HSFX1', 'SNORD96A', 'PER4', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'OR2G3', 'SNORD4B', 'SNORD4A', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'RBMY1B', 'GAGE1', 'OR52J3', 'CSN1S2A', 'BPY2', 'DEFB121', 'OR6V1', 'SNORD115-8', 'SNORD67', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'OR2T34', 'SNORD113-4', 'SNORD116-26', 'OR5H15', 'OR5H14', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'OR5B17', 'PRR20A', 'PRR20C', 'PRR20D', 'OR5H1', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'CTSL3', 'SNORD81', 'OR8J3', 'MRGPRG', 'NKX2-6', 'OR9Q2', 'GAGE12F', 'LOC643955', 'PRAMEF3', '?|404770', 'OR5J2', 'SNORD114-20', 'LOC728410', 'SNAR-A3', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'SNORD114-29', 'OR1A1', 'APCS', 'TEX28', 'OR8H1', 'TAAR8', 'OR8H3', 'PYDC2', 'MAGEB16', 'OR7A10', 'OR7A17', 'DEFB134', 'DEFB135', 'DEFB130', 'SNORD29', 'S100A7L2', 'OR7C2', 'LOC653545', 'OR5K4', 'OR6C3', 'SPINK8', 'WFDC9', 'KRTAP15-1', 'SNORD16', 'KRTAP19-5', 'SNORD36A', 'LOC388946', 'SNORD91B', 'SNORD87', 'SNORD86', 'MGC34034', 'OR4C11', 'OR4C13', 'OR4C12', 'DEFB116', 'DEFB114', 'DEFB115', 'DEFB112', 'DEFB113', 'TTTY4C', 'OR8D4', 'OR4B1', 'OR8D2', 'RBMY1E', 'SNORD91A', 'SNORD88B', 'TECTB', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'OR2T35', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'C9orf27', 'OR4F5', 'SNORD114-6', 'SNORD114-5', 'OR10W1', 'OR8B3', 'OR8B4', 'OR2AT4', 'OR8G5', 'SNORD12C', 'SNORD123', 'SNORD126', 'SNORD125', 'OR1S1', 'OR1S2', 'DEFB108B', 'OR4D9', 'OR5T3', 'OR5T1', 'KRTAP23-1', 'SNORD48', 'OR5L2', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'OR14J1', 'SNORD27', 'SNORD105', 'HIST1H2BA', 'DEFB106A', 'RBMY2EP', 'SPANXN1', 'SNORD35A', 'SNORD35B', 'OR5AR1', 'RBMY3AP', 'TMEM225', 'OR4A15', 'LOC100169752', 'TTTY22', 'SNORD24', 'GSTA5', 'SNORD28', 'OR52E8', 'KRTAP25-1', 'DEFB104A', 'OR5F1', 'BEYLA', 'SPINT3', 'OR5AP2', 'SMEK3P', 'FLJ25328', 'OR6M1', 'OR4S1', 'OR4S2', 'OR5AC2', 'SNORD49A', 'C11orf40', 'SNORD102', 'SNORD115-14', 'PRNT', 'LCE4A', 'KRTAP12-3', 'OR5M3', 'BSPH1', 'SNORD115-16', 'SNORA70B', 'SNORD30', 'SNORD31', 'SNORD115-10', 'OR6C1', 'SNORD18B', 'SCARNA23', 'SPANXN5', '?|728045', 'BASE', 'ASB10', 'OR4A5', 'CCDC105', 'SNORD26', 'SNORD114-7', 'SNORD45C', 'OR5T2', 'SNORD111B', 'SNORD18A', 'OR9I1', 'TTTY7', 'TTTY8', 'KRTAP9-9', 'TTTY20', 'CT47A7', 'CT47A6', 'CT47A2', 'CT47A1', 'CT47A9', 'SNORD109B', 'OR10G3', 'SNORD45B', 'TTTY23', 'SNORD45A', 'OR5D13', 'KRTAP6-2', 'KRTAP6-1', 'OR5D14', 'OR5D16', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'P2RX6P', 'SNORD1A', 'SNORD1B', 'SNORD19', 'TGIF2LX', 'OR9G4', 'SNORD115-37', 'PTH', 'OR4C16', 'OR4K5', 'SNORD44', 'SLC22A24', 'OR6B3', 'SNORD34', 'TGM6', 'OR2AG1', 'OR10G7', 'SNORA58', 'SNORD121B', 'SNORD121A', 'GPR139', 'SNAR-F', 'SNAR-H', 'FLJ44082', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD11B', 'SNORD49B', 'OR4C15', 'SNORD116-19', 'SNORA35', 'SNORD116-11', 'DEFB110', 'PRR23C', 'GLYCAM1', 'KCNK18', 'SNORD59B', 'SNORD59A', 'SNORD116-27', 'OR5W2', 'GAGE2B', 'ZNF679', 'SNORD114-21', 'SNORD114-11', 'C3P1', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'OR8K3', 'OR2T29', 'OR2T27', 'CDY1', 'RNU5E', 'GAGE8', 'SNORD88C', 'OR6N1', 'RNY5', 'RNY4', 'OR6N2', 'SNORD114-16', 'TGIF2LY', 'OR5I1', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'SDC4P', 'SNORD116-18', 'KRTAP20-3', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'SNORD116-12', 'GABRR3', 'NMS', 'SNORD73A', 'OR6C4', 'SPINK14', 'SNORD115-32', 'SNORD115-39', 'SNORA30', 'OR4C3', 'DEFB128', 'DEFB127', 'DEFB123', 'SNAR-C4', 'PAGE1', 'OR4K17', 'OR4K13', 'OR4A16', 'OR52E2', 'MS4A13', 'HTR1E', 'SPINT4', 'FTLP10', 'SNORD116-10', 'SNORD116-13', 'VENTXP1', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'OR5M8', 'XKRY', 'SNORD95', 'SNORD90', 'SNORD114-18', 'SNORD92', 'TSSK2', 'SNORA70C', 'SNORD114-15', 'SNORD19B', 'LOC729121', 'SNORD70', 'SNORD76', '?|317712', 'SNORD77', 'HBII-52-24', 'SNAR-A13', 'TREML2P1', 'SNORD60', 'NEU2', 'TMEM207', 'TTTY3B', 'SCARNA14', 'SCARNA18', 'KRTAP13-3', 'SNORA11C', 'OR51A7', 'OR51A2', 'ADAM2', 'OR52A1', 'OR52A5', 'OR52A4', 'SNORD105B', 'TTTY17B', 'HIST1H2AA', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'OR4F4', 'SNORD33', 'VTRNA1-2', 'SNAR-G2', 'SNORD54', 'TTTY16', 'TTTY18', 'CYP11B2', 'IQCF5', 'FAM24A', 'OR51G1', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'OR8B2', 'OR4X1', 'TTTY21', 'KRTAP27-1', 'DUX4', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'KRTAP4-8', 'KRTAP4-4', 'SNAR-A2', 'SNAR-A4', 'RNASE9', 'TTTY12', 'OR2T1', 'SNORD8', 'SNORD32A', 'SNORD43', 'FKSG73', 'SNORD114-12', 'CXorf66', 'NPS', 'OR1I1', 'OR4D6', 'TSPY4', 'SNORD71', 'PRR20B', 'S100G', 'SNAR-C3', 'SNAR-C2', 'DEFB107A', 'VN1R4', 'RBMY2FP', 'SNORD88A', 'SCARNA4', 'GK2', 'XAGE5', 'SNORD36B', 'SNAR-I', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'SNORD62A', 'DEFB105A', 'GOT1L1', 'LCE3B', 'LCE3C', 'SNORD116-5', 'SNORD103A', 'OR11H1', 'OR4F15', 'OR4C45', 'OR8B12', 'SNORD42B', 'TAAR2', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'TTTY11', 'TTTY13', 'TTTY19', 'OR8A1', 'OR4N5', 'LOC340094', 'SNORD115-33', 'CSTT', 'OR10H3', 'OR10H4', 'SNORD115-30', 'SNORD115-31', 'SNORD114-2', 'SNORD115-38', 'KRTAP20-4', 'SNORD18C', 'SNORD12B', 'LOC100287704', 'OR4C46', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A11', 'CT47A10', 'OR4P4', 'OR5H2', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'OR51V1', 'SNORD32B', 'OR10J5']
DataFrame 2 updated shape: (113, 19991)

----Updated Shapes of DataFrames----
DataFrame 1: (113, 24777)
DataFrame 2: (113, 19991)

Eliminate redundant information

In [53]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.histological_type.value_counts())

----Omics dataset----
cnv: (113, 24777)
mrna (113, 19991)
----Class distribution----
histological_type
Thymoma; Type AB    35
Thymoma; Type B2    27
Thymoma; Type A     15
Thymoma; Type B1    14
Thymoma; Type C     11
Thymoma; Type B3    11
Name: count, dtype: int64

Data standardization

In [54]:
datapath_out = "/Users/sabye/Downloads/wgRFECV-BIN/Result/"

In [55]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['hys'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_THYM_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_THYM_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_THYM_mrna.csv