Import libraries

In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [2]:
# Load dataset
datapath = "/Users/sabye/Downloads/wgRFECV-BIN/Data/"

cnv = pd.read_csv(datapath+"GBM_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"GBM_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"GBM_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 578)
mrna: (20530, 173)
clinical: (629, 129)

In [3]:
cnv.head(2)

,Gene Symbol,TCGA-02-0001-01,TCGA-02-0003-01,TCGA-02-0006-01,TCGA-02-0007-01,TCGA-02-0009-01,TCGA-02-0010-01,TCGA-02-0011-01,TCGA-02-0014-01,TCGA-02-0015-01,...,TCGA-76-6662-01,TCGA-76-6663-01,TCGA-76-6664-01,TCGA-81-5910-01,TCGA-81-5911-01,TCGA-87-5896-01,TCGA-OX-A56R-01,TCGA-RR-A6KA-01,TCGA-RR-A6KB-01,TCGA-RR-A6KC-01
0,ACAP3,0.242,0.007,0.005,-0.072,0.048,-0.094,0.013,-0.029,-0.222,...,-0.003,-0.003,-0.001,0.052,-0.02,-0.916,0.152,-0.047,0.027,-0.016
1,ACTRT2,0.242,0.007,0.005,-0.072,0.048,-0.094,0.013,-0.029,-0.222,...,-0.003,-0.003,-0.001,0.052,-0.02,-0.916,0.152,-0.047,0.027,-0.016

In [4]:
mrna.head(2)

,sample,TCGA-27-1832-01,TCGA-27-1831-01,TCGA-28-5216-01,TCGA-16-0846-01,TCGA-28-5218-01,TCGA-06-0178-01,TCGA-06-0238-01,TCGA-06-0125-01,TCGA-06-0219-01,...,TCGA-41-2571-01,TCGA-06-0129-01,TCGA-19-2625-01,TCGA-06-2565-01,TCGA-02-2485-01,TCGA-06-0210-01,TCGA-06-0210-02,TCGA-02-0047-01,TCGA-06-0750-01,TCGA-32-1982-01
0,ARHGEF10L,9.8929,8.5115,10.4760,11.1505,8.9427,9.8866,9.4898,10.5040,9.0106,...,10.0803,11.1889,11.2223,10.7435,10.8230,9.6700,11.0339,10.8850,10.3499,10.0621
1,HIF3A,9.2511,2.3579,7.6115,7.5040,8.1849,5.7765,8.6211,7.5671,6.7722,...,8.6865,11.0359,10.7498,7.1685,9.7483,9.1845,8.7847,7.2025,7.4013,7.9127

In [5]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [6]:
cnv.head(2)

,TCGA-02-0001-01,TCGA-02-0003-01,TCGA-02-0006-01,TCGA-02-0007-01,TCGA-02-0009-01,TCGA-02-0010-01,TCGA-02-0011-01,TCGA-02-0014-01,TCGA-02-0015-01,TCGA-02-0016-01,...,TCGA-76-6662-01,TCGA-76-6663-01,TCGA-76-6664-01,TCGA-81-5910-01,TCGA-81-5911-01,TCGA-87-5896-01,TCGA-OX-A56R-01,TCGA-RR-A6KA-01,TCGA-RR-A6KB-01,TCGA-RR-A6KC-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,0.242,0.007,0.005,-0.072,0.048,-0.094,0.013,-0.029,-0.222,-0.063,...,-0.003,-0.003,-0.001,0.052,-0.02,-0.916,0.152,-0.047,0.027,-0.016
ACTRT2,0.242,0.007,0.005,-0.072,0.048,-0.094,0.013,-0.029,-0.222,-0.063,...,-0.003,-0.003,-0.001,0.052,-0.02,-0.916,0.152,-0.047,0.027,-0.016

In [7]:
mrna.head(2)

,TCGA-27-1832-01,TCGA-27-1831-01,TCGA-28-5216-01,TCGA-16-0846-01,TCGA-28-5218-01,TCGA-06-0178-01,TCGA-06-0238-01,TCGA-06-0125-01,TCGA-06-0219-01,TCGA-06-0125-02,...,TCGA-41-2571-01,TCGA-06-0129-01,TCGA-19-2625-01,TCGA-06-2565-01,TCGA-02-2485-01,TCGA-06-0210-01,TCGA-06-0210-02,TCGA-02-0047-01,TCGA-06-0750-01,TCGA-32-1982-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,9.8929,8.5115,10.4760,11.1505,8.9427,9.8866,9.4898,10.5040,9.0106,10.4642,...,10.0803,11.1889,11.2223,10.7435,10.8230,9.6700,11.0339,10.8850,10.3499,10.0621
HIF3A,9.2511,2.3579,7.6115,7.5040,8.1849,5.7765,8.6211,7.5671,6.7722,7.4054,...,8.6865,11.0359,10.7498,7.1685,9.7483,9.1845,8.7847,7.2025,7.4013,7.9127

Transpose the data

In [8]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (577, 24776)
mrna: (172, 20530)

In [9]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-02-0001-01,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,...,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076
TCGA-02-0003-01,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071

In [10]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-27-1832-01,9.8929,9.2511,0.0,11.9661,10.8284,11.2220,13.0658,1.8913,0.0,4.2528,...,3.5655,4.7890,6.3144,0.0,9.2901,13.3932,6.8431,11.9599,2.9587,10.1312
TCGA-27-1831-01,8.5115,2.3579,0.0,10.2652,12.3519,12.7531,12.9097,4.2597,0.0,1.7973,...,0.8681,3.8282,6.3260,0.0,7.8635,9.9241,6.5070,12.7814,3.4467,11.2738

Remove duplication

In [11]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (577, 24776)
mrna (172, 20530)

Identify shared patients across all datasets and exclude those not shared

In [12]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 148

            sample
0  TCGA-06-2563-01
1  TCGA-27-1832-01
2  TCGA-06-0125-01

In [13]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-02-0001-01,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,...,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076
1,TCGA-02-0003-01,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071

In [14]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-02-0047-01,10.8850,7.2025,0.0,11.4257,11.4626,11.7846,13.2226,2.7075,0.0,...,0.0000,5.4803,5.6837,0.0,8.8536,11.5592,7.3565,10.0220,1.1566,9.5989
1,TCGA-02-0055-01,8.9992,7.0586,0.0,11.4327,11.8005,11.0846,12.1154,3.3176,0.0,...,1.4233,0.6421,5.7913,0.0,9.2456,12.7854,5.3506,11.0894,4.8595,10.8950

Identify shared patients across all datasets and exclude those not shared

In [15]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (148, 24777)
Shape of samples RNA Sequence (RNASeq): (148, 20531)

Concatenate datasets with class labels

In [16]:
dataClass = clinical.GeneExp_Subtype.unique()
print("GeneExp_Subtype:", dataClass)
print(clinical.GeneExp_Subtype.value_counts())

PAM50Call_RNAseq: ['Classical' 'Neural' 'Proneural' 'Mesenchymal' nan]
GeneExp_Subtype
Mesenchymal    166
Classical      150
Proneural      140
Neural          90
Name: count, dtype: int64

In [17]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [18]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['GeneExp_Subtype'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['GeneExp_Subtype'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (148, 24777)
RNA Sequence (RNASeq): (148, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [19]:
print(cnv_common_class.GeneExp_Subtype.value_counts())
print(mrna_common_class.GeneExp_Subtype.value_counts())

GeneExp_Subtype
Mesenchymal    49
Classical      39
Proneural      34
Neural         25
Name: count, dtype: int64
GeneExp_Subtype
Mesenchymal    49
Classical      39
Proneural      34
Neural         25
Name: count, dtype: int64

In [20]:
cnv_common_class.dropna(subset=['GeneExp_Subtype'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['GeneExp_Subtype'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (147, 24777)
mrna (147, 20531)

Remove features with missing values

In [21]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [22]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (147, 24777)
mrna (147, 20531)

In [23]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [24]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 550 zero-variance columns: ['RBMY1A3P', 'OR8J1', 'SNORD115-17', 'OR6P1', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'PISRT1', 'SNORD115-4', 'SNORD104', 'KRTAP10-12', 'KRTAP2-4', 'SNORD115-9', 'OR7G1', 'OR10A2', 'SNORD38A', 'OR8U1', 'KRTAP19-2', 'KRTAP19-3', 'KRTAP19-7', 'SNORD114-3', '?|441362', 'OR52R1', 'OR5R1', 'HBII-52-27', 'SNORD11', 'SNORD12', 'C20orf71', 'SNORD21', 'SNORD20', 'SNORD25', 'SNORD127', 'TAS2R16', 'SNORD124', 'TTTY17A', 'SNORD115-5', 'SNORD80', 'SNORD56B', 'SNORD78', 'PRR21', 'TMCO5A', 'PRAMEF17', 'SNORD113-7', 'SNORD96A', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'OR2G3', 'SNORD4B', 'SNORD4A', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'RBMY1B', 'RBMY1F', 'OR51T1', 'OR52J3', 'CSN1S2A', 'BPY2', 'DEFB121', 'SNORD115-8', 'OR6Q1', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'OR2T34', 'SNORD113-4', 'SNORD116-26', 'OR5H15', 'OR5H14', 'GAGE2E', 'LIPK', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'OR5B17', 'PRR20C', 'PRR20D', 'ACTL9', 'OR5H1', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'OR5AN1', 'NCRNA00112', 'CTSL3', 'SNORD81', 'PLA2G2E', 'OR8J3', 'OR2T11', 'OR2T12', 'MRGPRG', 'OR7G2', 'CDX4', 'OR9Q2', 'GAGE12F', 'PRAMEF3', 'SNORD114-20', 'DAOA', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'OR2G2', 'SNORD114-29', 'OR1A1', 'TEX28', 'OR8H1', 'OR8H2', 'OR8H3', 'OR6C75', 'PAGE3', 'OR7A10', 'OR7A17', 'DEFB134', 'DEFB136', 'DEFB130', 'DEFB131', 'SNORD29', 'S100A7L2', 'OR5K4', 'PPIAL4B', 'WFDC9', 'KRTAP15-1', 'SNORD16', 'KRTAP19-5', 'SNORD36A', 'LEUTX', 'SNORD91B', 'LOC255025', 'RBMY1J', 'OR10S1', 'SNORD87', 'SNORD86', 'OR4C13', 'OR4C12', 'DEFB116', 'DEFB115', 'DEFB112', 'DEFB113', 'OR8D2', 'RBMY1E', 'SNORD91A', 'LOC339568', 'OR51B6', 'OR4D10', 'CNBD1', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'OR2T35', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'SNORD114-6', 'SNORD114-5', 'OR8B3', 'OR8B4', 'SCARNA27', 'FAM27L', 'FAM41AY1', 'C21orf54', 'INS', 'OR8G5', 'OR6C6', 'SNORD12C', 'PRAMEF22', 'SNORD123', 'SNORD126', 'SNORD125', 'OR1S1', 'OR1S2', 'DEFB108B', 'OR2A14', 'OR4D9', 'OR4D2', 'OR4D5', 'KRTAP23-1', 'SNORD48', 'FLJ25363', 'OR5L2', 'OR51F1', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'SNORD27', 'SNORD105', 'SPANXN4', 'DEFB106A', 'RBMY2EP', 'SPANXN1', 'SNORD35A', 'SNORD35B', 'OR5AR1', 'RBMY3AP', 'TMEM225', 'OR6K6', 'OR4A15', 'LOC100169752', 'TTTY22', 'SNORD24', 'SNAR-B2', 'POTEG', 'POTEA', 'GSTA5', 'SNORD28', 'GH2', 'OR52E4', 'MT1B', 'OR52E8', 'TRIM77', 'KRTAP25-1', 'DEFB104A', 'OR5F1', 'BEYLA', 'SPINT3', 'OR5D18', 'LCE2D', 'SNORA69', 'OR4S1', 'SNORD49A', 'C11orf40', 'SNORD102', 'OR14A16', 'SNORD115-14', 'LCE4A', 'KRTAP12-3', 'OR5M9', 'OR5M3', 'OR5M1', 'NCRNA00113', 'SNORD115-16', 'POM121L12', 'SNORD30', 'SNORD31', 'SNORD115-10', 'SNORD18B', 'SPANXN5', 'C11orf64', 'OR51L1', '?|728045', 'CLDN22', 'BASE', 'OR4K15', 'OR4K14', 'OR4A5', 'SNORD26', 'SNORD114-7', 'CSN2', 'SNORD45C', 'OR5T2', 'SNORD111B', 'SNORD18A', 'TTTY7', 'TTTY5', 'PGLYRP3', 'SNORA36C', 'TTTY20', 'OR2Z1', 'CT47A7', 'CT47A6', 'CT47A1', 'SNORD109B', 'OR10K1', 'OR10G3', 'SNORD45B', 'TTTY23', 'SNORD45A', 'LRRC30', 'OR5D13', 'KRTAP6-3', 'KRTAP6-2', 'KRTAP6-1', 'OR5D14', 'OR5D16', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'SNORD1A', 'SNORD1B', 'SNORD19', 'KLK12', 'OR9G4', 'SNORD115-37', 'SNORD44', 'LOC286135', 'SNORD34', 'OR10G7', 'SNORD121B', 'SNORD121A', 'SNAR-E', 'SNAR-H', 'SUN5', 'BCYRN1', 'CSH1', 'MS4A5', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD11B', 'SNORD49B', 'SNORD116-19', 'SNORA35', 'SNORD116-11', '?|136542', 'PRR23C', 'OR13H1', 'GLYCAM1', 'SNORD59B', 'SNORD59A', 'SNORD116-27', 'OR5W2', 'GAGE2B', 'SNORD114-21', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'OR2Y1', 'OR8K1', 'OR8K3', 'OR2T29', 'SPAG11A', 'CDY1', 'SNORA19', 'RNU5E', 'SNORD88C', 'OR6N1', 'RNY5', 'RNY4', 'OR6N2', 'SNORD114-16', 'TGIF2LY', 'OR5I1', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'SNORD116-18', 'KRTAP20-3', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'OR8I2', 'OR7D4', 'SNORD116-12', 'C13orf28', 'NMS', 'SNORD73A', 'OR6C4', 'OR5K3', 'SPINK14', 'SNORD115-32', 'SNORD115-39', 'NLRP8', 'OR4C3', 'OR10Z1', 'DEFB129', 'DEFB128', 'DEFB127', 'DEFB122', 'PRLH', 'OR4D11', 'OR8G2', 'SNAR-C4', 'OR4K17', 'OR4K13', 'MS4A13', 'SPINT4', 'FTLP10', 'CELA3A', 'SNORD116-10', 'SNORD116-13', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'OR5M8', 'XKRY', 'SNORD95', 'SNORD90', 'UGT1A3', 'SNORD114-18', 'SNORD92', 'OR10T2', 'TSSK2', 'SNORA70C', 'SNORD114-15', 'SNORD19B', 'SPINK4', 'MRGPRX1', 'SNORD70', 'OR2F2', 'SNORD76', '?|317712', 'SNORD77', 'HBII-52-24', 'SNAR-A13', 'TNP2', 'SNORD60', 'TXNDC8', 'TTTY3B', 'KRTAP13-3', 'SNORA11C', 'OR4Q3', 'OR51A2', 'OR51A4', 'OR52A1', 'IQCF6', 'SNORD105B', 'TTTY17B', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD33', 'VTRNA1-2', 'RNASE12', 'OR5A1', 'OR4E2', 'SNORD54', 'FAM24A', 'OR51G2', 'OR51G1', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'OR8B2', 'UGT1A4', 'OR10A5', 'OR4X1', 'TTTY21', 'OR8B8', 'OR10A6', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'KRTAP4-5', 'KRTAP12-4', 'SNAR-A2', 'SNAR-A4', 'RNASE9', 'OR2T6', 'TTTY12', 'OR2T2', 'OR2T3', 'OR2T1', 'SNORD32A', 'FGF4', 'MAGEB10', 'SNORD43', 'FKSG73', 'SNORD114-12', 'CXorf61', 'OR1I1', 'SNORD71', 'PRR20B', 'S100G', 'SNAR-C3', 'SNAR-C2', 'DEFB107A', 'FAM99A', 'FAM99B', 'DSCR10', 'RETNLB', 'RBMY2FP', 'SNORD88A', 'FAM47B', '?|280660', 'SPANXN2', 'XAGE5', 'SNORD36B', 'SNAR-I', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'OR2M5', 'OR2M7', 'OR2M2', 'SNORD62A', 'LCE6A', 'LCE3E', 'LCE3B', 'SNORD116-5', 'SNORD103A', 'OR56A4', 'OR56A1', 'OR4C45', 'OR8B12', 'SNORD42B', 'OR6C74', 'IFNA16', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'TTTY11', 'POTEC', 'LOC340094', 'CST8', 'SNORD115-33', 'OR10H3', 'OR10H4', 'SNORD115-30', 'SNORD115-31', 'OR2W1', 'OR6Y1', 'SNORD114-2', 'SNORD115-38', 'KRTAP20-4', 'OR5M10', 'SNORD18C', 'SNORD12B', 'NCRNA00111', 'OR4C46', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A11', 'CT47A10', 'OR4P4', 'OR5H2', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'OR51V1', 'SNORD32B']
DataFrame 2 updated shape: (147, 19981)

----Updated Shapes of DataFrames----
DataFrame 1: (147, 24777)
DataFrame 2: (147, 19981)

Eliminate redundant information

In [25]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.GeneExp_Subtype.value_counts())

----Omics dataset----
cnv: (147, 24777)
mrna (147, 19981)
----Class distribution----
GeneExp_Subtype
Mesenchymal    49
Classical      39
Proneural      34
Neural         25
Name: count, dtype: int64

Data standardization

In [26]:
datapath_out = "/Users/sabye/Downloads/wgRFECV-BIN/Result/"

In [27]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['GeneExp_Subtype'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_GBM_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_GBM_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_GBM_mrna.csv