Import libraries

In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [2]:
# Load dataset
datapath = "/Users/sabye/Downloads/wgRFECV-BIN/Data/"

cnv = pd.read_csv(datapath+"LAML_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"LAML_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"LAML_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 192)
mrna: (20530, 174)
clinical: (200, 92)

In [3]:
cnv.head(2)

,Gene Symbol,TCGA-AB-2803-03,TCGA-AB-2804-03,TCGA-AB-2805-03,TCGA-AB-2806-03,TCGA-AB-2807-03,TCGA-AB-2808-03,TCGA-AB-2809-03,TCGA-AB-2810-03,TCGA-AB-2811-03,...,TCGA-AB-3000-03,TCGA-AB-3001-03,TCGA-AB-3002-03,TCGA-AB-3005-03,TCGA-AB-3006-03,TCGA-AB-3007-03,TCGA-AB-3008-03,TCGA-AB-3009-03,TCGA-AB-3011-03,TCGA-AB-3012-03
0,ACAP3,0.007,-0.004,-0.001,-0.001,-0.024,0.001,-0.002,-0.02,0.0,...,-0.034,-0.001,0.008,-0.003,-0.002,-0.02,-0.011,0.0,-0.0,-0.002
1,ACTRT2,0.007,-0.004,-0.001,-0.001,-0.024,0.001,-0.002,-0.02,0.0,...,-0.034,-0.001,0.008,-0.003,-0.002,-0.02,-0.011,0.0,-0.0,-0.002

In [4]:
mrna.head(2)

,sample,TCGA-AB-2872-03,TCGA-AB-2812-03,TCGA-AB-2919-03,TCGA-AB-2921-03,TCGA-AB-2836-03,TCGA-AB-2983-03,TCGA-AB-2843-03,TCGA-AB-2978-03,TCGA-AB-2909-03,...,TCGA-AB-2982-03,TCGA-AB-2935-03,TCGA-AB-2835-03,TCGA-AB-2995-03,TCGA-AB-2981-03,TCGA-AB-2855-03,TCGA-AB-2916-03,TCGA-AB-2899-03,TCGA-AB-2861-03,TCGA-AB-3009-03
0,ARHGEF10L,2.8872,0.0000,0.000,7.7679,9.5763,7.5348,8.1166,7.2701,3.0582,...,3.4243,9.5607,8.5254,1.997,10.4165,0.0000,10.1493,9.7265,9.4268,4.6152
1,HIF3A,1.0471,0.9075,1.179,0.9693,0.0000,0.9159,3.3001,3.5794,0.7366,...,1.9190,3.5521,1.8449,3.927,0.0000,2.6795,1.1231,1.5128,3.1056,1.4897

In [5]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [6]:
cnv.head(2)

,TCGA-AB-2803-03,TCGA-AB-2804-03,TCGA-AB-2805-03,TCGA-AB-2806-03,TCGA-AB-2807-03,TCGA-AB-2808-03,TCGA-AB-2809-03,TCGA-AB-2810-03,TCGA-AB-2811-03,TCGA-AB-2812-03,...,TCGA-AB-3000-03,TCGA-AB-3001-03,TCGA-AB-3002-03,TCGA-AB-3005-03,TCGA-AB-3006-03,TCGA-AB-3007-03,TCGA-AB-3008-03,TCGA-AB-3009-03,TCGA-AB-3011-03,TCGA-AB-3012-03
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,0.007,-0.004,-0.001,-0.001,-0.024,0.001,-0.002,-0.02,0.0,-0.008,...,-0.034,-0.001,0.008,-0.003,-0.002,-0.02,-0.011,0.0,-0.0,-0.002
ACTRT2,0.007,-0.004,-0.001,-0.001,-0.024,0.001,-0.002,-0.02,0.0,-0.008,...,-0.034,-0.001,0.008,-0.003,-0.002,-0.02,-0.011,0.0,-0.0,-0.002

In [7]:
mrna.head(2)

,TCGA-AB-2872-03,TCGA-AB-2812-03,TCGA-AB-2919-03,TCGA-AB-2921-03,TCGA-AB-2836-03,TCGA-AB-2983-03,TCGA-AB-2843-03,TCGA-AB-2978-03,TCGA-AB-2909-03,TCGA-AB-2882-03,...,TCGA-AB-2982-03,TCGA-AB-2935-03,TCGA-AB-2835-03,TCGA-AB-2995-03,TCGA-AB-2981-03,TCGA-AB-2855-03,TCGA-AB-2916-03,TCGA-AB-2899-03,TCGA-AB-2861-03,TCGA-AB-3009-03
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,2.8872,0.0000,0.000,7.7679,9.5763,7.5348,8.1166,7.2701,3.0582,6.7255,...,3.4243,9.5607,8.5254,1.997,10.4165,0.0000,10.1493,9.7265,9.4268,4.6152
HIF3A,1.0471,0.9075,1.179,0.9693,0.0000,0.9159,3.3001,3.5794,0.7366,2.3765,...,1.9190,3.5521,1.8449,3.927,0.0000,2.6795,1.1231,1.5128,3.1056,1.4897

Transpose the data

In [8]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (191, 24776)
mrna: (173, 20530)

In [9]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-AB-2803-03,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017
TCGA-AB-2804-03,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,...,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005

In [10]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-AB-2872-03,2.8872,1.0471,0.0,11.8580,9.5764,8.9254,11.6592,0.0,5.5169,5.5501,...,2.3966,0.0,2.8872,1.0471,7.2918,6.8601,3.6702,11.3988,6.7357,8.8407
TCGA-AB-2812-03,0.0000,0.9075,0.0,11.9931,11.0042,10.0533,12.2543,0.0,4.4608,3.5248,...,1.8590,0.0,2.6450,0.0000,7.8970,6.8547,0.0000,10.6194,6.2035,8.4313

Remove duplication

In [11]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (191, 24776)
mrna (173, 20530)

Identify shared patients across all datasets and exclude those not shared

In [12]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 166

            sample
0  TCGA-AB-2836-03
1  TCGA-AB-2854-03
2  TCGA-AB-2857-03

In [13]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-AB-2803-03,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017
1,TCGA-AB-2804-03,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,-0.004,...,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005,-0.005

In [14]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-AB-2803-03,1.0206,1.6124,2.0308,12.0785,10.5743,9.6630,11.7938,0.0,5.2878,...,2.0308,0.0000,1.6124,0.0,7.2695,7.2886,5.3975,11.4530,6.9714,8.7274
1,TCGA-AB-2805-03,9.6693,0.7392,0.0000,11.1680,10.4498,11.1241,12.2234,0.0,4.8964,...,0.0000,1.5888,5.4541,0.0,6.9715,3.3745,2.9436,10.8892,4.4867,8.2265

Identify shared patients across all datasets and exclude those not shared

In [15]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (166, 24777)
Shape of samples RNA Sequence (RNASeq): (166, 20531)

Concatenate datasets with class labels

In [16]:
dataClass = clinical.leukemia_french_american_british_morphology_code.unique()
print("PAM50Call_RNAseq:", dataClass)
print(clinical.leukemia_french_american_british_morphology_code.value_counts())

PAM50Call_RNAseq: ['M4' 'M3' 'M0 Undifferentiated' 'M1' 'M2' 'M5' 'M6' 'M7' 'Not Classified']
leukemia_french_american_british_morphology_code
M1                     44
M2                     44
M4                     42
M5                     22
M3                     21
M0 Undifferentiated    19
M6                      3
M7                      3
Not Classified          2
Name: count, dtype: int64

In [17]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [18]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['leukemia_french_american_british_morphology_code'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['leukemia_french_american_british_morphology_code'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (166, 24777)
RNA Sequence (RNASeq): (166, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [19]:
print(cnv_common_class.leukemia_french_american_british_morphology_code.value_counts())
print(mrna_common_class.leukemia_french_american_british_morphology_code.value_counts())

leukemia_french_american_british_morphology_code
M2                     39
M1                     38
M4                     34
M5                     17
M3                     16
M0 Undifferentiated    16
M7                      3
Not Classified          2
M6                      1
Name: count, dtype: int64
leukemia_french_american_british_morphology_code
M2                     39
M1                     38
M4                     34
M5                     17
M3                     16
M0 Undifferentiated    16
M7                      3
Not Classified          2
M6                      1
Name: count, dtype: int64

In [20]:
cnv_common_class.dropna(subset=['leukemia_french_american_british_morphology_code'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['leukemia_french_american_british_morphology_code'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (166, 24777)
mrna (166, 20531)

In [21]:
# List of subtypes to remove
subtypes_to_remove = [
    "M7", "Not Classified", "M6"
]

# Filter them out
cnv_common_class = cnv_common_class[~cnv_common_class['leukemia_french_american_british_morphology_code'].isin(subtypes_to_remove)]
print("Copy Number Variation (CNV):", cnv_common_class.shape)

mrna_common_class = mrna_common_class[~mrna_common_class['leukemia_french_american_british_morphology_code'].isin(subtypes_to_remove)]
print("RNA Sequence (RNASeq):", mrna_common_class.shape)

Copy Number Variation (CNV): (160, 24777)
RNA Sequence (RNASeq): (160, 20531)

Remove features with missing values

In [22]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [23]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (160, 24777)
mrna (160, 20531)

In [24]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [25]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 642 zero-variance columns: ['RBMY1A3P', 'SNORD115-17', 'PHOX2B', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'SNORD115-4', 'C3orf79', 'SNORD104', 'NLRP13', 'TECRL', 'CFHR2', 'CFHR4', 'KRTAP2-2', 'KRTAP2-1', 'KRTAP2-4', 'SNORD115-9', 'PRAMEF5', 'PRAMEF2', 'OR7G1', 'LOC84931', 'C16orf78', 'SNORD38A', 'KRTAP19-2', 'KRTAP19-1', 'KRTAP19-6', 'KRTAP19-7', 'KRTAP19-4', 'SNORD114-3', 'OR52R1', 'OR5R1', 'HBII-52-27', 'SNORD11', 'PDILT', 'SNORD12', 'ADH7', 'C4orf7', 'C20orf71', 'C20orf70', 'SNORD21', 'SNORD20', 'SNORD25', 'SERPINA7', 'SNORD127', 'OLIG3', 'DAZ3', 'DAZ2', 'DAZ4', 'TAS2R16', 'SNORD124', 'TTTY17A', 'SNORD115-5', 'SNORD80', 'TSPY3', 'TSPY1', 'SNORD56B', 'MMP20', 'SNORD78', 'TMCO5A', 'PRAMEF17', 'SNORD113-7', 'HSFX1', 'SNORD96A', 'KRT75', 'PER4', 'ADAM3A', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'SNORD4B', 'SNORD4A', 'CRYGA', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'RBMY1F', 'KLK6', 'GAGE1', 'OR52J3', 'GRXCR1', 'DEFB121', 'KRT84', 'SNORD115-8', 'OR5V1', 'ADAM18', 'ODAM', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'APOH', 'REG3G', 'REG3A', 'SNORD38B', 'LOC146481', 'SNORD113-4', 'SNORD116-26', 'OR5H15', 'OR5H14', 'GAGE2D', 'GAGE2E', 'GAGE2C', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'PRR20A', 'PRR20C', 'PRR20D', 'OR5H1', 'KRT31', 'KRT32', 'KRT35', 'KRT37', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'HNRNPCL1', 'NCRNA00112', 'CTSL3', 'SNORD81', 'PLA2G2E', 'KRTAP21-2', 'MRGPRG', 'OR7G2', 'CDX4', 'ZP4', 'SERPINB7', 'OR9Q2', 'SPATA19', 'MAGEA11', 'GAGE12D', 'GAGE12F', 'CLPS', 'C2orf27B', 'PRAMEF3', 'LOC100128977', '?|404770', 'SNORD114-20', 'LOC728410', 'SNAR-A3', 'DAOA', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'ADAM5P', 'OR4L1', 'SNORD114-29', 'TEX28', 'OR8H1', 'OR8H3', 'DMRTB1', 'PYDC2', 'ZNF479', 'KRTAP3-3', 'LOC285375', 'OR6C75', 'OR5L1', 'PAGE3', 'KRTAP24-1', 'OR7A10', 'KRT33B', 'DCD', 'DEFB134', 'DEFB135', 'DEFB130', 'SNORD29', 'LOC100190940', 'S100A7L2', 'LOC653544', 'LOC653545', 'LGALS13', 'WFDC9', 'SNORD16', 'KRTAP19-5', 'SNORD36A', 'OR12D2', 'MAGEB6', 'LEUTX', 'SNORD91B', 'SNORD87', 'SNORD86', 'OR4C11', 'OR4C13', 'DEFB116', 'DEFB114', 'DEFB115', 'DEFB112', 'DEFB113', 'TTTY4C', 'DEFB118', 'DEFB119', 'SNORD91A', 'CALML5', 'SNORD88B', 'NTSR2', 'ANXA13', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'KRTAP13-1', 'SNORD114-6', 'SNORD114-5', 'OR8B3', 'FAM27L', 'TBC1D21', 'C21orf54', 'OR6C6', 'SNORD12C', 'SNORD123', 'SNORD126', 'SNORD125', 'DKFZp434L192', 'OR10Q1', 'KRTAP23-1', 'RGR', 'SNORD48', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'POU3F4', 'SNORD27', 'CXorf51', 'SNORD105', 'HIST1H2BA', 'SPANXN4', 'DEFB106A', 'RBMY2EP', 'SPANXN1', 'SNORD35A', 'SNORD35B', 'RBMY3AP', 'OR4A15', 'FLJ40434', 'LOC100169752', 'TTTY22', 'SNORD24', 'SNAR-B2', 'GSTA5', 'GSTA2', 'SNORD28', 'C10orf120', 'MT1B', 'TRIM77', 'KRTAP25-1', 'DEFB104A', 'SPINT3', 'TTTY6B', 'OR5D18', 'LCE2C', 'LCE2D', 'BARHL2', 'FMO9P', 'OR4S2', 'C20orf85', 'SNORD49A', 'C6orf127', 'LECT2', 'C11orf40', 'CRYBA2', 'SNORD102', 'SNORD115-14', 'LCE4A', 'C21orf131', 'OR5M3', 'BSPH1', 'SNORD115-16', 'POM121L12', 'MMP26', 'SPANXA2', 'SNORD30', 'SNORD31', 'SNORD115-10', 'APOC1P1', 'GJD2', 'SNORD18B', 'SPANXN5', 'C11orf64', 'OR51L1', 'OR51S1', '?|728045', 'BASE', 'ASB18', 'CASP14', 'OR4A5', 'LOC730811', 'CCDC105', 'SNORD26', 'SNORD114-7', 'KRTAP1-1', 'KRTAP1-3', 'CSN2', 'CSN3', 'TACR3', 'SNORD45C', 'OR5T2', 'SNORD111B', 'SNORD18A', 'TTTY7', 'TTTY8', 'KRTAP9-9', 'TTTY20', 'CT47A7', 'CT47A6', 'CT47A2', 'CT47A1', 'CT47A9', 'SNORD109B', 'OR10K2', 'OR10K1', 'SNORD45B', 'DMRTC1', 'KLK9', 'TTTY23', 'SNORD45A', 'SST', 'CIB4', 'LRRC30', 'FAM9A', 'OR5D13', 'KRTAP6-3', 'KRTAP6-2', 'KRTAP6-1', 'OR5D14', 'OR5D16', 'MAGEA12', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'P2RX6P', 'CDY1B', 'MBD3L2', 'SNORD1A', 'SNORD1B', 'SNORD19', 'LACRT', 'KLK12', 'OR9G4', 'SNORD115-37', 'LYZL1', 'LYZL2', 'OR4K2', 'SNORD44', 'TEX13A', 'SNORD34', 'ELSPBP1', 'FABP9', 'DHRS7C', 'OR10G7', 'SNORD121B', 'SNORD121A', 'SNAR-F', 'SNAR-E', 'SNAR-H', 'HELT', 'PNPLA5', 'GUCA2B', 'SUN5', 'DSCR8', 'GAGE2A', 'SSX4', 'SSX3', 'VSTM2A', 'SNORD51', 'SNORD115-44', 'TMEM114', 'CRYGB', 'SNORD36C', 'SNORD115-48', 'SNORD49B', 'CCL11', 'OR4C15', 'SNORD116-19', 'SNORA35', 'SNORD116-11', 'ASZ1', '?|136542', 'DEFB110', 'AMTN', 'SNORD59B', 'SNORD59A', 'SMCP', 'BANF2', 'SNORD116-27', 'OR5W2', 'GAGE2B', 'OR6C65', 'SNORD114-21', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'OR9K2', 'OR8K1', 'SCGB1D1', 'SCGB1D2', 'CDY1', 'SSX7', 'SSX5', 'SSX8', 'KRTAP9-2', 'RNU5E', 'GAGE8', 'SNORD88C', 'RNY5', 'RNY4', 'SCGB2A1', 'SCGB2A2', 'CSAG1', 'SNORD114-16', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'BPIL3', 'SNORD116-18', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'OR8I2', 'OR7D4', 'SMR3B', 'SNORD116-12', 'SMR3A', 'UMOD', 'C13orf26', 'C13orf28', 'SNORD73A', 'SPINK14', 'SAA3P', 'HTN1', 'SNORD115-32', 'SNORD115-39', 'SNAR-D', 'OR4C3', 'DEFB124', 'DEFB123', 'DEFB122', 'PRLH', 'SNAR-C4', '?|442388', 'OR4K17', 'OR4K13', 'OR4A16', 'HTR1A', 'SNORD116-10', 'SNORD116-13', 'VENTXP1', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'OR5M8', 'XKRY', 'LOC100271831', 'SNORD95', 'SNORD90', 'SNORD114-18', 'GAGE13', 'SNORD92', 'OR10T2', 'TSSK2', 'SNORA70C', 'SNORD114-15', 'SNORD19B', 'PLUNC', 'RGS8', 'LOC729121', 'GCG', 'MRGPRX1', 'SNORD70', 'SNORD76', '?|317712', 'IL1F10', 'SNORA11D', 'SNORD77', 'HBII-52-24', 'WDR69', 'NCRNA00160', 'SNAR-A13', 'SNORD60', 'DEFB4A', 'KRTAP13-4', 'KRTAP13-2', 'KRTAP13-3', 'WFDC11', 'SNORA11C', 'OR51A7', 'OR51A2', 'SPO11', 'SNORD105B', 'TTTY17B', 'HIST1H2AA', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'SNAR-G1', 'SNORD33', 'VTRNA1-2', 'SNAR-G2', 'FAM74A4', 'SNORD54', 'TTTY16', 'TTTY18', 'TTTY1B', 'CYP11B2', 'IQCF5', 'FAM197Y2', 'OR51G2', 'OR51G1', 'SNORD114-8', 'SERPINA13', 'SNORD55', 'SNORD56', 'SNORD57', 'LCN1', 'LCN9', 'OR1M1', 'UGT1A4', 'TTTY21', 'PRAMEF13', 'DUX4', 'RIT2', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'KRTAP4-8', 'SNAR-A2', 'SNAR-A4', 'SPACA1', 'LOC642587', 'OTOS', 'TTTY12', 'SNORD32A', 'SPRR2D', 'NCRNA00207', 'LOC284688', 'MAGEB18', 'MAGEB10', 'SNORD43', 'SNORD114-12', 'GIP', 'CXorf61', 'NPS', 'TSPY4', 'SNORD71', 'PRR20B', 'SNAR-C3', 'SNAR-C2', 'CLRN2', 'DEFB107A', 'LCE1F', 'LCE1D', 'LCE1C', 'LCE1A', 'NKX2-8', 'RETNLB', 'RBMY2FP', 'SNORD88A', 'PNLIPRP2', 'FAM47B', '?|280660', 'SNORD36B', 'SNAR-I', 'LOC732275', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'SNORD62A', 'DEFB105A', 'FATE1', 'LCE6A', 'LCE3B', 'SNORD116-5', 'SNORD103A', 'OR11H1', 'LOC100129935', 'OR4C45', 'SNORD42B', 'OR6C74', 'SNORD42A', 'KRT34', 'SNORD37', 'SNORD114-1', 'TTTY11', 'TTTY19', 'KCNU1', 'LOC340094', 'OBP2B', 'CST4', 'SNORD115-33', 'CSTT', 'SNORD115-30', 'SNORD115-31', 'KRTAP9-4', 'SNORD114-2', 'GP2', 'KRTAP20-2', 'SNORD115-38', 'KRTAP20-4', 'IFNA6', 'SNORD18C', 'AGTR2', 'NCRNA00111', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A11', 'CT47A10', 'MT4', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'MUC21', 'SNORD32B', 'CST11', 'IFNA8']
DataFrame 2 updated shape: (160, 19889)

----Updated Shapes of DataFrames----
DataFrame 1: (160, 24777)
DataFrame 2: (160, 19889)

Eliminate redundant information

In [26]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.leukemia_french_american_british_morphology_code.value_counts())

----Omics dataset----
cnv: (160, 24777)
mrna (160, 19889)
----Class distribution----
leukemia_french_american_british_morphology_code
M2                     39
M1                     38
M4                     34
M5                     17
M3                     16
M0 Undifferentiated    16
Name: count, dtype: int64

Data standardization

In [27]:
datapath_out = "/Users/sabye/Downloads/wgRFECV-BIN/Result/"

In [28]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['leukemia_french_american_british_morphology_code'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_LAML_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_LAML_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/wgRFECV-BIN/Result/Preprocessed_LAML_mrna.csv

In [29]:
cnv_common_class.head(3)

,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7,leukemia_french_american_british_morphology_code
sample,,,,,,,,,,,,,,,,,,,,,
TCGA-AB-2803-03,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,0.017,M3
TCGA-AB-2805-03,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,...,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,0.003,M0 Undifferentiated
TCGA-AB-2806-03,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,-0.001,...,0.010,0.010,0.010,0.010,0.010,0.010,0.010,0.010,0.010,M1

In [30]:
mrna_common_class.head(3)

,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS,leukemia_french_american_british_morphology_code
sample,,,,,,,,,,,,,,,,,,,,,
TCGA-AB-2803-03,1.0206,1.6124,2.0308,12.0785,10.5743,9.6630,11.7938,0.0,5.2878,4.2868,...,0.0000,1.6124,0.0,7.2695,7.2886,5.3975,11.4530,6.9714,8.7274,M3
TCGA-AB-2805-03,9.6693,0.7392,0.0000,11.1680,10.4498,11.1241,12.2234,0.0,4.8964,3.3745,...,1.5888,5.4541,0.0,6.9715,3.3745,2.9436,10.8892,4.4867,8.2265,M0 Undifferentiated
TCGA-AB-2806-03,0.7106,3.3989,0.0000,11.5156,10.3131,9.9580,13.0040,0.0,3.9073,3.6390,...,0.0000,1.1847,0.0,7.3174,3.1108,4.1334,10.5557,6.3547,8.5222,M1